// Colors related to torrent status
$blue-100: #dbedff;
$blue-300: #79b8ff;
$green-200: #bef5cb;
$green-300: #85e89d;
$green-500: #28a745;
$grey-200: #e1e4e8;
$grey-500: #828282;
$grey-700: #373737;
$grey-800: #292929;
$grey-900: #191919;
$red-500: #d73a49;
$white: #fff;
$yellow-300: #ffea7f;
$grey-40: #666;
$nice-grey: #f8f8f8;
$nice-grey-darker: #f0f0f0;
$dark-mode-black: #121212;
$default-accent-color: #fff8c5;
$default-accent-color-dark: #0059d2;
$default-border-dark: #575757;
$default-border-light: #aeaeae;
