<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoImport</key>
	<false/>
	<key>AutoSize</key>
	<false/>
	<key>AutoStartDownload</key>
	<true/>
	<key>BadgeDownloadRate</key>
	<true/>
	<key>BadgeUploadRate</key>
	<true/>
	<key>BindPort</key>
	<integer>51413</integer>
	<key>Blocklist</key>
	<false/>
	<key>BlocklistAutoUpdate</key>
	<false/>
	<key>CheckDownload</key>
	<false/>
	<key>CheckQuit</key>
	<true/>
	<key>CheckQuitDownloading</key>
	<false/>
	<key>CheckRemove</key>
	<true/>
	<key>CheckRemoveDownloading</key>
	<false/>
	<key>CheckStalled</key>
	<false/>
	<key>CheckUpload</key>
	<false/>
	<key>CreatorLocation</key>
	<string>~/Desktop</string>
	<key>DeleteOriginalTorrent</key>
	<false/>
	<key>DisplayGroupRowRatio</key>
	<false/>
	<key>DisplayPeerProgressBarNumber</key>
	<false/>
	<key>DisplayProgressBarAvailable</key>
	<false/>
	<key>DisplaySmallStatusRegular</key>
	<true/>
	<key>DisplayStatusProgressSelected</key>
	<false/>
	<key>DownloadAsk</key>
	<true/>
	<key>DownloadAskManual</key>
	<false/>
	<key>DownloadAskMulti</key>
	<false/>
	<key>DownloadFolder</key>
	<string>~/Downloads</string>
	<key>DownloadLimit</key>
	<integer>100</integer>
	<key>DownloadLocationConstant</key>
	<false/>
	<key>DownloadSound</key>
	<string>Glass</string>
	<key>EncryptionPrefer</key>
	<true/>
	<key>EncryptionRequire</key>
	<false/>
	<key>Filter</key>
	<string>None</string>
	<key>FilterBar</key>
	<false/>
	<key>FilterGroup</key>
	<integer>-2</integer>
	<key>FilterSearchType</key>
	<string>Name</string>
	<key>IncompleteDownloadFolder</key>
	<string>~/Downloads</string>
	<key>InfoVisible</key>
	<false/>
	<key>InspectorSelected</key>
	<string>Info</string>
	<key>MessageLevel</key>
	<integer>1</integer>
	<key>MoveChoice</key>
	<string>Constant</string>
	<key>NatTraversal</key>
	<true/>
	<key>PEXGlobal</key>
	<true/>
	<key>PeerSocketTOS</key>
	<integer>8</integer>
	<key>PeersTorrent</key>
	<integer>60</integer>
	<key>PeersTotal</key>
	<integer>200</integer>
	<key>PiecesBar</key>
	<false/>
	<key>PiecesViewShowAvailability</key>
	<false/>
	<key>PlayDownloadSound</key>
	<true/>
	<key>PlaySeedingSound</key>
	<false/>
	<key>Proxy</key>
	<false/>
	<key>ProxyAddress</key>
	<string></string>
	<key>ProxyAuthorize</key>
	<false/>
	<key>ProxyPort</key>
	<integer>80</integer>
	<key>ProxyType</key>
	<string>HTTP</string>
	<key>ProxyUsername</key>
	<string></string>
	<key>Queue</key>
	<false/>
	<key>QueueDownloadNumber</key>
	<integer>3</integer>
	<key>QueueSeed</key>
	<false/>
	<key>QueueSeedNumber</key>
	<integer>3</integer>
	<key>RPC</key>
	<false/>
	<key>RPCAuthorize</key>
	<false/>
	<key>RPCUseWhitelist</key>
	<false/>
	<key>RPCPort</key>
	<integer>9091</integer>
	<key>RPCUsername</key>
	<string>admin</string>
	<key>RatioCheck</key>
	<false/>
	<key>RatioLimit</key>
	<integer>2</integer>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SeedingSound</key>
	<string>Submarine</string>
	<key>ShowInspector</key>
	<false/>
	<key>SleepPrevent</key>
	<true/>
	<key>SmallView</key>
	<false/>
	<key>Sort</key>
	<string>Order</string>
	<key>SortByGroup</key>
	<false/>
	<key>SortReverse</key>
	<false/>
	<key>SpeedLimit</key>
	<false/>
	<key>SpeedLimitAuto</key>
	<false/>
	<key>SpeedLimitAutoOffDate</key>
	<date>2000-01-01T13:00:00Z</date>
	<key>SpeedLimitAutoOnDate</key>
	<date>2000-01-01T03:00:00Z</date>
	<key>SpeedLimitDownloadLimit</key>
	<integer>10</integer>
	<key>SpeedLimitUploadLimit</key>
	<integer>10</integer>
	<key>StalledMinutes</key>
	<integer>30</integer>
	<key>StatusBar</key>
	<true/>
	<key>StatusLabel</key>
	<string>RatioTotal</string>
	<key>UploadLimit</key>
	<integer>50</integer>
	<key>UseIncompleteDownloadFolder</key>
	<false/>
	<key>WarningCreatorBlankAddress</key>
	<true/>
	<key>WarningDuplicate</key>
	<true/>
	<key>WarningFolderDataSameName</key>
	<true/>
	<key>WarningInvalidOpen</key>
	<true/>
	<key>WarningRemainingSpace</key>
	<true/>
	<key>WarningRemoveBuiltInTracker</key>
	<true/>
	<key>WarningResetStats</key>
	<true/>
</dict>
</plist>
