<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoImport</key>
	<false/>
	<key>AutoImportDirectory</key>
	<string>~/Desktop</string>
	<key>AutoSize</key>
	<false/>
	<key>AutoStartDownload</key>
	<true/>
	<key>BadgeDownloadRate</key>
	<true/>
	<key>BadgeUploadRate</key>
	<true/>
	<key>BindPort</key>
	<integer>9090</integer>
	<key>CheckDownload</key>
	<false/>
	<key>CheckQuit</key>
	<true/>
	<key>CheckQuitDownloading</key>
	<false/>
	<key>CheckRemove</key>
	<true/>
	<key>CheckRemoveDownloading</key>
	<false/>
	<key>CheckUpload</key>
	<true/>
	<key>DeleteOriginalTorrent</key>
	<false/>
	<key>DownloadChoice</key>
	<string>Constant</string>
	<key>DownloadFolder</key>
	<string>~/Desktop</string>
	<key>DownloadLimit</key>
	<integer>100</integer>
	<key>DownloadSound</key>
	<string>Glass</string>
	<key>Filter</key>
	<string>None</string>
	<key>FilterBar</key>
	<false/>
	<key>History</key>
	<array/>
	<key>InfoTab</key>
	<string>Info</string>
	<key>InfoVisible</key>
	<false/>
	<key>MessageLevel</key>
	<integer>1</integer>
	<key>MoveChoice</key>
	<string>Constant</string>
	<key>MoveFolder</key>
	<string>~/Desktop</string>
	<key>NatTraversal</key>
	<false/>
	<key>PlayDownloadSound</key>
	<true/>
	<key>PlaySeedingSound</key>
	<false/>
	<key>Queue</key>
	<false/>
	<key>QueueDownloadNumber</key>
	<integer>3</integer>
	<key>RatioCheck</key>
	<false/>
	<key>RatioLimit</key>
	<integer>2</integer>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SavePrivateTorrent</key>
	<true/>
	<key>SeedingSound</key>
	<string>Submarine</string>
	<key>ShowInspector</key>
	<false/>
	<key>SmallStatusRegular</key>
	<true/>
	<key>SmallView</key>
	<false/>
	<key>Sort</key>
	<string>Order</string>
	<key>SpeedLimit</key>
	<false/>
	<key>SpeedLimitAuto</key>
	<false/>
	<key>SpeedLimitAutoOffHour</key>
	<integer>21</integer>
	<key>SpeedLimitAutoOnHour</key>
	<integer>9</integer>
	<key>SpeedLimitDownloadLimit</key>
	<integer>10</integer>
	<key>SpeedLimitUploadLimit</key>
	<integer>10</integer>
	<key>StatusBar</key>
	<true/>
	<key>UpdateCheck</key>
	<string>Daily</string>
	<key>UploadLimit</key>
	<integer>20</integer>
	<key>UseAdvancedBar</key>
	<false/>
</dict>
</plist>
