[submodule "third-party/dht"]
	path = third-party/dht
	url = https://github.com/transmission/dht.git
	branch = post-0.27-transmission
[submodule "third-party/libb64"]
	path = third-party/libb64
	url = https://github.com/transmission/libb64.git
	branch = post-1.2.1-transmission
[submodule "third-party/libevent"]
	path = third-party/libevent
	url = https://github.com/transmission/libevent.git
	branch = post-2.0.22-transmission
[submodule "third-party/libnatpmp"]
	path = third-party/libnatpmp
	url = https://github.com/transmission/libnatpmp.git
	branch = post-20151025-transmission
[submodule "third-party/libutp"]
	path = third-party/libutp
	url = https://github.com/transmission/libutp.git
	branch = post-3.4-transmission
[submodule "third-party/miniupnp"]
	path = third-party/miniupnp
	# synced with https://github.com/miniupnp/miniupnp.git
	url = https://github.com/transmission/miniupnp.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/utfcpp"]
	path = third-party/utfcpp
	# synced with https://github.com/nemtrif/utfcpp.git
	url = https://github.com/transmission/utfcpp.git
[submodule "third-party/libdeflate"]
	path = third-party/libdeflate
	# synced with https://github.com/ebiggers/libdeflate.git
	url = https://github.com/transmission/libdeflate.git
[submodule "third-party/libpsl"]
	path = third-party/libpsl
	url = https://github.com/transmission/libpsl.git
	branch = post-3.0.0-transmission
[submodule "third-party/fmt"]
	path = third-party/fmt
	# synced with https://github.com/fmtlib/fmt.git
	url = https://github.com/transmission/fmt.git
[submodule "third-party/fast_float"]
	path = third-party/fast_float
	# synced with https://github.com/fastfloat/fast_float.git
	url = https://github.com/transmission/fast_float.git
[submodule "third-party/wide-integer"]
	path = third-party/wide-integer
	# synced with https://github.com/ckormanyos/wide-integer.git
	url = https://github.com/transmission/wide-integer.git
[submodule "third-party/small"]
	path = third-party/small
	# synced with https://github.com/alandefreitas/small.git
	url = https://github.com/transmission/small.git
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	# synced with https://github.com/Tencent/rapidjson.git
	url = https://github.com/transmission/rapidjson.git
	fetchRecurseSubmodules = false
[submodule "third-party/rpavlik-cmake-modules"]
	path = third-party/rpavlik-cmake-modules
	# synced with https://github.com/rpavlik/cmake-modules.git
	url = https://github.com/transmission/rpavlik-cmake-modules.git
[submodule "third-party/libmaxminddb"]
	path = third-party/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb.git
