/REVISION
/beta
/build
Transmission.xcodeproj/*.mode*
Transmission.xcodeproj/*.pbxuser
Transmission.xcodeproj/*.xcworkspace
Transmission.xcodeproj/xcuserdata
cli/transmissioncli
daemon/transmission-daemon
daemon/transmission-proxy
daemon/transmission-remote
gtk/defines.h
gtk/transmission-gtk
libtransmission/*.a
libtransmission/version.h
macosx/Info.plist
macosx/Transmission.app
macosx/en.lproj/*~.nib
node_modules/
po/*.mo
third-party/miniupnp/miniupnpcstrings.h
web/public_html/transmission-app.js.map
