# IDE directories
.idea
.vscode

# macOS hidden files
.DS_Store

# Xcode project files
Transmission.xcodeproj/*.xcworkspace
Transmission.xcodeproj/xcuserdata

# files Xcode creates
/macosx/Info.plist
libtransmission/version.h
third-party/suffixes_dafsa.h

# npm files
web/node_modules/**
web/public_html/transmission-app.js.map

# clangd compile commands
compile_commands.json

# CMake user presets
CMakeUserPresets.json