[submodule "third-party/dht"]
	path = third-party/dht
	url = https://github.com/transmission/dht
	branch = post-0.25-transmission
[submodule "third-party/libb64"]
	path = third-party/libb64
	url = https://github.com/transmission/libb64
	branch = post-1.2.1-transmission
[submodule "third-party/libevent"]
	path = third-party/libevent
	url = https://github.com/transmission/libevent
	branch = post-2.1.11-transmission
[submodule "third-party/libnatpmp"]
	path = third-party/libnatpmp
	url = https://github.com/transmission/libnatpmp
	branch = post-20151025-transmission
[submodule "third-party/libutp"]
	path = third-party/libutp
	url = https://github.com/transmission/libutp
	branch = post-3.3-transmission
[submodule "third-party/miniupnpc"]
	path = third-party/miniupnpc
	url = https://github.com/transmission/miniupnpc
	branch = post-2.0.20170509-transmission
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
