/.depend
/REVISION
Transmission.xcodeproj/*.mode*
Transmission.xcodeproj/*.pbxuser
Transmission.xcodeproj/*.xcworkspace
Transmission.xcodeproj/xcuserdata
/beta
/build
cli/.depend
cli/transmissioncli
daemon/.depend
daemon/transmission-daemon
daemon/transmission-proxy
daemon/transmission-remote
gtk/.depend
gtk/defines.h
gtk/transmission-gtk
libtransmission/*.a
libtransmission/.depend
libtransmission/version.h
macosx/Info.plist
macosx/Transmission.app
macosx/en.lproj/*~.nib
po/*.mo
third-party/miniupnp/miniupnpcstrings.h
