@use "sass:color";

$black: #000;
$white: #fff;
$grey13: #212121;
$grey20: #333;
$grey40: #666;
$grey60: #999;
$grey67: #ababab;
$grey73: #bababa;
$grey81: #cfcfcf;
$grey87: #dedede;
$grey97: #f7f7f7;

@mixin vertical-gradient($topColor, $bottomColor) {
  background: color.mix($topColor, $bottomColor) linear-gradient($topColor, $bottomColor);
}

@mixin image-on-vertical-gradient($src, $topColor, $bottomColor) {
  background: url($src) no-repeat center, linear-gradient($topColor, $bottomColor);
}

@mixin button-image(
  $image-url,
  $idle-color-top,
  $idle-color-bottom,
  $active-color-top,
  $active-color-bottom
) {
  @include image-on-vertical-gradient($image-url, $idle-color-top, $idle-color-bottom);

  &:active,
  &.selected {
    @include image-on-vertical-gradient($image-url, $active-color-top, $active-color-bottom);
  }
}

$nonselected-gradient-top: $white;
$nonselected-gradient-bottom: $grey73;
$selection-color: #cdcdff;
$selected-gradient-top: $selection-color;
$selected-gradient-bottom: $white;

@mixin button {
  border: 1px solid $grey67;
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  user-select: none;
}

@mixin rounded-box($radius) {
  border-radius: $radius;
}

@mixin left-rounded-box($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin right-rounded-box($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin rounded-button($radius) {
  @include button;
  border-radius: $radius;
}

/// GLOBAL

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

img {
  border: 0;
}

a {
  outline: 0;
}

/// HOTKEYS DIALOG

#hotkeys-dialog {
  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid $grey67;
    }
  }
}

#about-dialog-version-number {
  margin-left: 4px;
}
#about-dialog-version-checksum {
  font-size: small;
  font-style: italic;
  font-weight: normal;
  margin-left: auto;
  padding-left: 10px;
}

/// TOOLBAR

$toolbar-height-num: 36;
$toolbar-height: $toolbar-height-num * 1px;

.toolbar-button {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: $toolbar-height;
  padding: 0 6px;
  user-select: none;
  width: $toolbar-height;

  &.disabled {
    opacity: 0.25;
  }
}

#toolbar {
  $toolbar-button-size: 36px;
  $toolbar-gradient-top: $grey87;
  @include vertical-gradient($grey87, $grey73);
  border-bottom: 1px solid $grey67;
  display: flex;
  flex-direction: row;
  height: $toolbar-height;
  margin: 0;
  padding: 2px;
  width: 100%;

  > .toolbar-separator {
    border-left: 1px solid $grey67;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 8px;
    width: 3px;
  }
}

@mixin toolbar-button-background-image($url) {
  background-image: url($url);

  // use a lighter background color during hover
  &:hover:not(.disabled) {
    background-image: url($url), linear-gradient($white, $grey87);
  }
}
#toolbar-open {
  @include toolbar-button-background-image('images/toolbar-folder.png');
}
#toolbar-remove {
  @include toolbar-button-background-image('images/toolbar-close.png');
}
#toolbar-start {
  @include toolbar-button-background-image('images/toolbar-start.png');
}
#toolbar-pause {
  @include toolbar-button-background-image('images/toolbar-pause.png');
}
#toolbar-start-all {
  @include toolbar-button-background-image('images/toolbar-start-all.png');
}
#toolbar-pause-all {
  @include toolbar-button-background-image('images/toolbar-pause-all.png');
}
#toolbar-inspector {
  @include toolbar-button-background-image('images/toolbar-info.png');
}
#toolbar-more {
  @include toolbar-button-background-image(
    "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/></svg>"
  );
  margin-right: 8px;
}

/// STATUSBAR

$statusbar-gradient-top: $grey87;
$statusbar-gradient-bottom: $grey73;

$statusbar-height-num: 26;
$statusbar-height: $statusbar-height-num * 1px;

#statusbar {
  @include vertical-gradient($statusbar-gradient-top, $statusbar-gradient-bottom);
  align-items: center;
  border-bottom: 1px solid $grey67;
  display: flex;
  flex-direction: row;
  height: $statusbar-height;
  width: 100%;

  > * {
    font-size: smaller;
    margin: 5px;
  }
}
#torrent-search {
  &.blur {
    color: $grey60;
  }
}
.speed-up-icon {
  background: url('images/arrow-up.png') center no-repeat;
  height: 8px;
  width: 8px;
}
.speed-dn-icon {
  background: url('images/arrow-down.png') center no-repeat;
  height: 8px;
  width: 8px;
}

/// TORRENT CONTAINER

$torrent-container-top: $toolbar-height-num + $statusbar-height-num + 6px;

.flex {
  flex-grow: 1;
}

#torrent-container {
  flex-grow: 1;
  left: 0;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  right: 0;
}

.torrent-list {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  .torrent {
    background-color: $white;
    border-bottom: 1px solid #ccc;
    color: $grey40;
    display: flex;
    flex-direction: column;
    padding: 4px 12px;

    &.compact {
      padding: 4px;
    }

    &.even {
      background-color: $grey97;
    }

    &.selected {
      background-color: $selection-color;
    }

    &.compact {
      .torrent-name {
        color: $black;
      }
    }

    // start-stop button
    a {
      padding-left: 6px;

      img {
        position: relative;
        right: -10px;
      }

      div {
        background: url('images/torrent-buttons.png');
        height: 14px;
        width: 14px;
      }

      .torrent-pause {
        background-position: left top;
      }

      .torrent-resume {
        background-position: center top;
      }

      &:active {
        .torrent-pause {
          background-position: left bottom;
        }

        .torrent-resume {
          background-position: center bottom;
        }
      }

      &:hover {
        .torrent-pause {
          background-position: left center;
        }

        .torrent-resume {
          background-position: center center;
        }
      }
    }

    .torrent-name {
      font-weight: bold;
      margin-bottom: 2px;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.compact {
        font-size: 1em;
        font-weight: normal;
      }

      &:not(.paused) {
        color: $grey13;
      }
    }

    .torrent-progress-details,
    .torrent-peer-details {
      clear: left;
      font-size: smaller;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .torrent-progress-details.error,
    .torrent-peer-details.error {
      color: #f00;
    }

    &.selected .torrent-progress-details.error,
    &.selected .torrent-peer-details.error {
      color: $white;
    }

    .torrent-progress {
      display: flex;

      .torrent-progress-bar-container {
        flex-grow: 1;
      }
    }
  }

  // Progressbar
  //
  // Each progressbar has three elemens: a parent container and two children,
  // complete and incomplete.
  //
  // The only thing needed to set the progressbar percentage is to set
  // the complete child's width as a percentage. This is because incomplete
  // is pinned to the full width and height of the parent, and complete
  // is pinned to the left side of the parent and has a higher z-index.
  //
  // The progressbar has different colors depending on its state, so there
  // are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
  .torrent-progress-bar-container {
    height: 10px;
    position: relative;

    &.compact {
      margin-top: 2px;
      position: absolute;
      right: 10px;
      width: 50px;
      /*float: right;*/
    }

    &.full {
      margin-bottom: 5px;
      margin-top: 2px;
    }
  }

  .torrent-peer-details.compact {
    float: right; // pins it next to progressbar & forces torrent-name to ellipsize when it bumps up against this div
    margin-right: 65px; // leave room on the right for the progressbar
    margin-top: 2px;
  }

  .torrent-progress-bar {
    border: 1px solid;
    border-radius: 3px;
    height: 100%;

    &.incomplete {
      width: 100%;
    }

    @mixin progressbar-gradient($value) {
      background: linear-gradient(to bottom, $value, darken($value, 25%) 80%);
      border-color: darken($value, 30%);
    }

    // FIXME: 50% torrents' progressbars don't work. We don't have a way to overlay the two progressbars

    &.complete.paused {
      @include progressbar-gradient(#aaa);
    }
    &.complete.magnet {
      @include progressbar-gradient(#eee);
    }
    &.complete.leeching.queued {
      @include progressbar-gradient(#abc3cf);
    }
    &.complete.leeching {
      @include progressbar-gradient(#42a9ff);
    }
    &.complete.seeding.queued {
      @include progressbar-gradient(#aec0b1);
    }
    &.complete.seeding {
      @include progressbar-gradient(#4e4);
    }

    &.incomplete.paused {
      @include progressbar-gradient(#eee);
    }
    &.incomplete.magnet {
      @include progressbar-gradient(#e98484);
    }
    &.incomplete.leeching.queued {
      @include progressbar-gradient(#f3f3f3);
    }
    &.incomplete.leeching {
      @include progressbar-gradient(#eee);
    }
    &.incomplete.seeding {
      @include progressbar-gradient(#5e5);
    }
  }
}

/***
****
****  PREFERENCES
****
***/

#prefs-dialog.ui-tabs .ui-tabs-panel {
  padding: 0;
  user-select: none;
}

.prefs-section {
  text-align: left;

  > * {
    padding: 0 8px 8px;
  }

  .title {
    font-size: larger;
    font-weight: bold;
    padding-left: 0;
  }

  .row {
    .key {
      float: left;
      padding-top: 3px;

      > * {
        margin-left: 0;
      }
    }

    .value {
      margin-left: 150px;

      > * {
        width: 100%;
      }
    }
  }

  .checkbox-row {
    > input {
      margin: 0;
    }

    > label {
      margin-left: 5px;
    }
  }

  #alternative-speed-limits-title {
    background: transparent url('images/blue-turtle.png') no-repeat;
    padding-left: 18px;
  }

  #alternative-speed-limits-desc {
    font-size: smaller;
    padding-bottom: 4px;
  }

  #blocklist-info {
    font-size: smaller;
    margin-top: 3px;
  }
}

/***
****
****  TORRENT INSPECTOR
****
***/

$inspector-width: 570px;

@mixin inspector-tab-image($image-url) {
  @include button-image(
    $image-url,
    $nonselected-gradient-top,
    $nonselected-gradient-bottom,
    $selected-gradient-top,
    $selected-gradient-bottom
  );
}

#torrent-inspector {
  border-left: 1px solid $grey40;
  bottom: 22px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px;
  position: fixed;
  right: 0;
  text-align: left;
  top: $torrent-container-top;
  width: $inspector-width;
  z-index: 5;

  .inspector-page {
    padding: 8px 0;
  }

  #inspector-close {
    display: none;
  }

  #inspector-tabs-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    #inspector-tabs {
      $border-radius: 5px;
      display: flex;

      > * {
        @include button;
        height: 20px;
        margin-left: 0;
        width: 30px;
      }

      > #inspector-tab-info {
        @include left-rounded-box($border-radius);
        @include inspector-tab-image('images/inspector-info.png');
        border-left-width: 1px;
      }

      > #inspector-tab-peers {
        @include inspector-tab-image('images/inspector-peers.png');
      }

      > #inspector-tab-trackers {
        @include inspector-tab-image('images/inspector-trackers.png');
      }

      > #inspector-tab-files {
        @include right-rounded-box($border-radius);
        @include inspector-tab-image('images/inspector-files.png');
      }
    }
  }

  #inspector-header {
    margin: 8px 0;

    #torrent-inspector-name {
      font-size: large;
      font-weight: bold;
    }
  }

  .tier-list {
    clear: both;
    cursor: default;
    display: block;
    list-style: none;
    margin: 2px 0 8px;
    padding-left: 0;
    text-align: left;
    width: 100%;

    li {
      overflow: hidden;
    }

    .tracker-activity {
      color: $grey40;
      display: table;
      float: left;
      margin-top: 1px;
      width: 330px;
    }

    .tracker-activity div {
      padding: 2px;
    }

    table {
      color: $grey40;
      float: right;
    }

    th {
      text-align: right;
    }
  }

  .inspector-tracker-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.odd {
      background-color: #eee;
    }
  }

  .tracker-host {
    color: $grey13;
    font: bold 1.2em;
  }

  /* Files Inspector Tab */

  #inspector-file-list {
    cursor: default;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-inline-start: 0;
    text-align: left;
  }

  .inspector-torrent-file-list-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.skip {
      color: $grey40;
    }

    &.even {
      background-color: #f7f7f7;
    }
  }

  .inspector-torrent-file-list-entry-name {
    color: $black;
    display: inline;
    font-size: 1.2em;
    margin-left: 0;
  }

  .inspector-torrent-file-list-entry.skip > .inspector-torrent-file-list-entry-name {
    color: $grey60;
  }

  .inspector-torrent-file-list-entry-progress {
    color: $grey60;
    margin-left: 20px;
  }

  .single-file .inspector-torrent-file-list-entry > .file-wanted-control,
  .inspector-torrent-file-list-entry.complete > .file-wanted-control {
    cursor: default;
  }
}

/* Peers Inspector Tab */
#inspector-peers-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;

  > .inspector-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.peer-list {
  border-collapse: collapse;
  clear: both;
  cursor: default;
  table-layout: fixed;
  text-align: left;
  width: 100%;

  .encrypted-col {
    width: 16px;
  }

  .up-col {
    width: 70px;
  }

  .down-col {
    width: 70px;
  }

  .percent-col {
    padding-right: 5px;
    text-align: right;
    width: 30px;
  }

  .status-col {
    padding-right: 5px;
    width: 40px;
  }

  .address-col {
    width: 180px;
  }

  .client-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.inspector-peer-entry {
  .encrypted-peer-cell {
    background: transparent url('images/lock_icon.png') no-repeat;
    height: 16px;
    width: 16px;
  }

  &.odd {
    background-color: #eee;
  }
}

/***
****  File Priority Buttons
***/

@mixin file-button-image($image-url) {
  @include button-image(
    $image-url,
    color.mix($nonselected-gradient-top, $nonselected-gradient-bottom, 80%),
    color.mix($nonselected-gradient-top, $nonselected-gradient-bottom, 20%),
    color.mix($selected-gradient-top, $selected-gradient-bottom, 80%),
    color.mix($selected-gradient-top, $selected-gradient-bottom, 20%)
  );
}

.file-priority-radiobox {
  $border-radius: 5px;

  // We have row after row of these buttons, so the flashy colors used in the inspector tabs look harsh here.
  // Keep the same basic color theme, but look less harsh, by cutting the gradient's color range.

  display: inline;
  float: right;
  margin: 4px;
  margin-top: 2px;

  > * {
    @include button;
    height: 12px;
    width: 20px;
  }

  > .low {
    @include left-rounded-box($border-radius);
    @include file-button-image('images/file-priority-low.png');
    border-right-width: 0;
  }

  > .normal {
    @include file-button-image('images/file-priority-normal.png');
  }

  > .high {
    @include right-rounded-box($border-radius);
    @include file-button-image('images/file-priority-high.png');
    border-left-width: 0;
  }
}

/****
*****
*****  MAIN WINDOW FOOTER
*****
****/

@mixin footer-button-image($image-url) {
  @include button-image(
    $image-url,
    $nonselected-gradient-top,
    $nonselected-gradient-bottom,
    $selected-gradient-top,
    $selected-gradient-bottom
  );
}

$footer-height-number: 22;

.torrent-footer {
  @include vertical-gradient($statusbar-gradient-top, $statusbar-gradient-bottom);
  border-top: 1px solid $grey40;
  bottom: 0;
  height: $footer-height-number * 1px;
  position: fixed;
  width: 100%;

  > div {
    border: 1px solid $grey40;
    border-radius: 5px;
    float: left;
    height: 12px;
    margin: 2px 4px;
    padding: 2px 8px;
    user-select: none;
    width: 18px;
  }

  #settings-menu {
    @include footer-button-image('images/settings.png');
  }

  #prefs-button {
    @include footer-button-image('images/wrench.png');
  }

  #turtle-button {
    @include footer-button-image('images/turtle.png');

    &:active,
    &.selected {
      @include image-on-vertical-gradient(
        'images/blue-turtle.png',
        $selected-gradient-top,
        $selected-gradient-bottom
      );
    }
  }

  #compact-button {
    @include footer-button-image('images/compact.png');
  }

  #freespace-info {
    border: 0;
    float: right;
    text-align: right;
    width: 100px;
  }
}

/// DIALOGS

$width-threshold-number: 550;
$dialog-padding-number: 20;
$dialog-logo-padding-number: $dialog-padding-number * 2 / 3;

@media screen and (max-width: $width-threshold-number * 1px) {
  .dialog-container {
    opacity: 96%;
    position: absolute;
    top: $torrent-container-top;
    width: 100%;
  }
  .dialog-logo {
    padding-bottom: $dialog-logo-padding-number * 1px;
  }
  .dialog-window {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .dialog-heading {
    grid-row: 2 / 3;
  }
  .dialog-buttons {
    padding-top: $dialog-logo-padding-number * 1px;
  }
}
@media screen and (min-width: ($width-threshold-number + 1) * 1px) {
  .dialog-container {
    left: 50%;
    min-width: 400px;
    position: absolute;
    top: $torrent-container-top * 2;
    transform: translateX(-50%);
  }
  .dialog-window {
    display: grid;
  }
  .dialog-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding-right: $dialog-logo-padding-number * 1px;
  }
  .dialog-heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.dialog-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}
.dialog-container form {
  margin: 0;
  padding: 0;
}
.dialog-window {
  background: linear-gradient(160deg, #d21, 1%, #f7f7f7, 40%, #ccc);
  height: 100%;
  padding: $dialog-padding-number * 1px;
}
.dialog-logo {
  background: transparent url('images/logo.png') top left no-repeat;
  height: 64px;
  width: 64px;
}
.dialog-heading {
  align-items: center;
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  overflow-wrap: break-word;
  word-break: break-all;
}
.dialog-message {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 10px 0 0;
}
.dialog-workarea {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 10px 0 0;
}
.dialog-buttons {
  display: flex;
  float: right;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: 10px 0 0;
  text-align: center;

  > * {
    margin-left: 8px;
    padding: 8px;
  }

  a {
    border: 1px solid $grey20;
    border-radius: 4px;
    color: $grey20;
    // cursor: default;
    // font: bold;
    height: 15px;
  }

  a:hover,
  a:active {
    @include vertical-gradient($white, $grey87);
  }
}
.dialog-buttons-begin {
  flex-grow: 1;
}
.dialog-buttons-end {
  display: none;
}
.dialog-workarea {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: 5px;
  }
}

#free-space-text {
  font-size: smaller;
  font-style: italic;
}

#torrent-rename-name {
  min-width: 400px;
}

#stats-dialog {
  min-width: 500px;
}

#move-container #torrent-path {
  min-width: 400px;
}

#torrent-upload-frame {
  border: 0;
  display: block; /* Don't change this : safari forms won't target hidden frames (they open a new window) */
  height: 0;
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1000px;
  width: 0;
}

.ui-menu {
  width: 200px;
}

/// more menu
// package @ https://www.npmjs.com/package/accessible-menu
// cribbed from https://jsfiddle.net/NickDJM/yokxg0vr/
// FIXME: this is a work in progress

$green: #0d464e;
$green-90: #25585f;
$red: #f58a97;

#toolbar-more {
  > .menu {
    display: none;
    flex-direction: column;

    &.show {
      display: flex;
    }
  }

  > .menu-toggle {
    background: transparent;
    border: 0;
    color: $white;
    display: block;
    font-size: 2rem;
    margin-left: auto;
    padding: 0.5rem 2rem;
  }

  > .branding {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
  }

  @media screen and (max-width: 1069px) {
    > .menu {
      width: 100%;
    }
  }

  /*
  @media screen and (min-width: 1070px) {
    > .menu {
      display: flex;
      flex-direction: row;
    }

    > .menu-toggle {
      display: none;
    }
  }
*/
}

.visually-hidden {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.menu {
  background-color: $green-90;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;

  &.dropdown {
    display: none;
    flex-direction: column;

    @media screen and (min-width: 1070px) {
      .menu-item .menu.dropdown {
        left: 100%;
        top: 0;
      }
    }
  }

  @media screen and (max-width: 1069px) {
    .menu .menu-link {
      padding-left: 3rem;
    }

    .menu .menu .menu-link {
      padding-left: 4rem;
    }
  }

  .menu-link,
  .menu-toggle {
    background-color: $green-90;
    border: 0;
    color: $white;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;

    &:hover {
      background-color: $green;
      text-decoration-color: $red;
      text-decoration-line: underline;
      text-decoration-thickness: 0.2rem;
    }
  }

  .menu-link:active {
    background-color: $red;
    color: $black;
  }

  .menu-item {
    position: relative;

    &.dropdown > .dropdown-toggle::after {
      content: '▼';
      display: inline-block;
      margin-left: 0.5rem;
    }

    .menu.dropdown.show {
      display: flex;

      @media screen and (min-width: 1070px) {
        left: 0;
        position: absolute;
      }
    }
  }
}
