@use "sass:color";

@mixin vertical-gradient($topColor, $bottomColor) {
  background: color.mix($topColor, $bottomColor) linear-gradient($topColor, $bottomColor);
}

@mixin image-on-vertical-gradient($src, $topColor, $bottomColor) {
  background: url($src) no-repeat center, linear-gradient($topColor, $bottomColor);
}

@mixin button-image(
  $image-url,
  $idle-color-top,
  $idle-color-bottom,
  $active-color-top,
  $active-color-bottom
) {
  @include image-on-vertical-gradient($image-url, $idle-color-top, $idle-color-bottom);

  &:active,
  &.selected {
    @include image-on-vertical-gradient($image-url, $active-color-top, $active-color-bottom);
  }
}

$nonselected-gradient-top: #fff;
$nonselected-gradient-bottom: #bbb;
$selection-color: #cdcdff;
$selected-gradient-top: $selection-color;
$selected-gradient-bottom: #fff;

@mixin button {
  border: 1px solid #aaa;
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  user-select: none;
}

@mixin rounded-box($radius) {
  border-radius: $radius;
}

@mixin left-rounded-box($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin right-rounded-box($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin rounded-button($radius) {
  @include button;
  @include rounded-box($radius);
}

/// GLOBAL

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  font: Calibri, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#torrent-container {
  flex-grow: 1;
}

img {
  border: 0;
}

a {
  outline: 0;
}

.inspector-showing #torrent-filter-bar,
.inspector-showing #torrent-container,
.dialog-showing #torrent-filter-bar,
.dialog-showing #torrent-container,
.dialog-showing #torrent-inspector,
.prefs-showing #torrent-inspector,
.prefs-showing #torrent-filter-bar,
.prefs-showing #torrent-container,
.open-showing #torrent-filter-bar,
.open-showing #torrent-container {
  display: none !important;
}

/// ABOUT DIALOG

#about-dialog {
  > * {
    text-align: center;
  }

  > #about-logo {
    background: transparent url('images/logo.png') top left no-repeat;
    height: 64px;
    margin-left: 100px;
    width: 64px;
  }

  > #about-title {
    font-size: 1.3em;
    font-weight: bold;
  }
}

/// HOTKEYS DIALOG

#hotkeys-dialog {
  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid #aaa;
    }
  }
}

/// TOOLBAR

$toolbar-height: 39px;

.toolbar-button {
  cursor: pointer;
  height: $toolbar-height;
  padding: 0 6px;
  user-select: none;
  width: $toolbar-height;
}
.toolbar-button.disabled {
  opacity: 0.25;
}

#toolbar {
  @include vertical-gradient(#ddd, #bbb);
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-direction: row;
  height: $toolbar-height;
  margin: 0;
  padding: 2px;
  width: 100%;

  > .toolbar-separator {
    border-left: 1px solid #aaa;
    height: 25px;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 3px;
  }

  :nth-last-child(2) {
    flex-grow: 1;
  }
}

#toolbar-open {
  background: center no-repeat url('images/toolbar-folder.png');
  // url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z'/></svg>");
}
#toolbar-remove {
  background: center no-repeat url('images/toolbar-close.png');
  // url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z'/></svg>");
}
#toolbar-start {
  background: center no-repeat url('images/toolbar-start.png');
  // url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/></svg>");
}
#toolbar-pause {
  background: center no-repeat url('images/toolbar-pause.png');
  // url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 14H9V8h2v8zm4 0h-2V8h2v8z'/></svg>");
}
#toolbar-start-all {
  background: center no-repeat url('images/toolbar-start-all.png');
}
#toolbar-pause-all {
  background: center no-repeat url('images/toolbar-pause-all.png');
}
#toolbar-inspector {
  background: no-repeat center url('images/toolbar-info.png');
  // url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'/></svg>");
}

#toolbar-more {
  background: right no-repeat
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/></svg>");
  margin-left: auto;
  margin-right: 8px;
}

/***
****
****  STATUSBAR
****
***/

$statusbar-gradient-top: #ddd;
$statusbar-gradient-bottom: #bbb;
$statusbar-height: 24px;

#statusbar {
  @include vertical-gradient($statusbar-gradient-top, $statusbar-gradient-bottom);
  border-bottom: 1px solid #aaa;
  height: $statusbar-height;
  overflow: hidden;
  position: relative;
  width: 100%;

  #filter {
    float: left;
    margin-left: 5px;

    #torrent-search {
      display: none;
    }

    #filter-count {
      margin-left: 8px;
    }
  }

  #speed-info {
    float: right;
    margin-right: 10px;
    margin-top: 5px;

    * {
      display: inline-block;
    }

    #speed-up-icon {
      background: url('images/arrow-up.png') bottom no-repeat;
      height: 8px;
      margin-left: 8px;
      width: 8px;
    }

    #speed-dn-icon {
      background: url('images/arrow-down.png') bottom no-repeat;
      height: 8px;
      width: 8px;
    }

    #speed-up-container,
    #speed-dn-container {
      display: inline;
    }
  }
}

/***
****
****  TORRENT CONTAINER
****
***/

.torrent-list {
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  .torrent {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #666;
    padding: 4px 30px 5px 14px;

    &.compact {
      padding: 4px;
    }

    &.even {
      background-color: #f7f7f7;
    }

    &.selected {
      background-color: $selection-color;
    }

    &.compact {
      .torrent-name {
        color: #000;
      }
    }

    // start-stop button
    a {
      display: none;
    }

    .torrent-name {
      color: #222;
      font-weight: bold;
      margin-bottom: 2px;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.compact {
        font-size: 1em;
        font-weight: normal;
      }

      &.paused {
        color: #777;
        font-weight: normal;
      }
    }

    .torrent-progress-details,
    .torrent-peer-details {
      clear: left;
      font-size: smaller;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .torrent-progress-details.error,
    .torrent-peer-details.error {
      color: #f00;
    }

    &.selected .torrent-progress-details.error,
    &.selected .torrent-peer-details.error {
      color: #fff;
    }
  }

  // Progressbar
  //
  // Each progressbar has three elemens: a parent container and two children,
  // complete and incomplete.
  //
  // The only thing needed to set the progressbar percentage is to set
  // the complete child's width as a percentage. This is because incomplete
  // is pinned to the full width and height of the parent, and complete
  // is pinned to the left side of the parent and has a higher z-index.
  //
  // The progressbar has different colors depending on its state, so there
  // are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
  .torrent-progress-bar-container {
    height: 10px;
    position: relative;

    &.compact {
      margin-top: 2px;
      position: absolute;
      right: 10px;
      width: 50px;
      /*float: right;*/
    }

    &.full {
      margin-bottom: 5px;
      margin-top: 2px;
    }
  }

  .torrent-peer-details.compact {
    float: right; // pins it next to progressbar & forces torrent-name to ellipsize when it bumps up against this div
    margin-right: 65px; // leave room on the right for the progressbar
    margin-top: 2px;
  }

  .torrent-progress-bar {
    background-image: url('images/progress.png');
    background-repeat: repeat-x;
    border: 1px solid #888;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;

    &.complete {
      z-index: 2;
    }

    &.complete.paused {
      background-position: left -30px;
      border-color: #989898;
    }

    &.complete.magnet {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.complete.leeching {
      background-position: left 0;
      border-color: #3d9dea;
    }

    &.complete.leeching.queued {
      background-position: left -70px;
      border-color: #889ca5;
    }

    &.complete.seeding {
      background-position: left -40px;
      border-color: #269e30;
    }

    &.complete.seeding.queued {
      background-position: left -60px;
      border-color: #8a998d;
    }

    &.incomplete {
      width: 100%;
      z-index: 1;
    }

    &.incomplete.paused {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.incomplete.magnet {
      background-position: left -50px;
      border-color: #d47778;
    }

    &.incomplete.leeching {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.incomplete.leeching.queued {
      background-position: left -80px;
      border-color: #c4c4c4;
    }

    &.incomplete.seeding {
      background-position: left -10px;
      border-color: #29ad35;
    }
  }
}

/***
****
****  PREFERENCES
****
***/

#prefs-dialog.ui-tabs .ui-tabs-panel {
  padding: 0;
  user-select: none;
}

.prefs-section {
  text-align: left;

  > * {
    padding: 0 8px 8px;
  }

  .title {
    font-size: larger;
    font-weight: bold;
    padding-left: 0;
  }

  .row {
    .key {
      float: left;
      padding-top: 3px;

      > * {
        margin-left: 0;
      }
    }

    .value {
      margin-left: 150px;

      > * {
        width: 100%;
      }
    }
  }

  .checkbox-row {
    > input {
      margin: 0;
    }

    > label {
      margin-left: 5px;
    }
  }

  #alternative-speed-limits-title {
    background: transparent url('images/blue-turtle.png') no-repeat;
    padding-left: 18px;
  }
}

/***
****
****  TORRENT INSPECTOR
****
***/

@mixin inspector-tab-image($image-url) {
  @include button-image(
    $image-url,
    $nonselected-gradient-top,
    $nonselected-gradient-bottom,
    $selected-gradient-top,
    $selected-gradient-bottom
  );
}

#torrent-inspector {
  overflow: auto;
  padding: 15px;
  position: relative;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 2;

  #inspector-tabs-wrapper {
    overflow: hidden;
    text-align: center;
    width: 100%;

    #inspector-tabs {
      $border-radius: 5px;

      display: inline-block;

      > * {
        @include button;
        height: 20px;
        width: 30px;
      }

      > #inspector-tab-info {
        @include left-rounded-box($border-radius);
        @include inspector-tab-image('images/inspector-info.png');
        border-left-width: 1px;
      }

      > #inspector-tab-peers {
        @include inspector-tab-image('images/inspector-peers.png');
      }

      > #inspector-tab-trackers {
        @include inspector-tab-image('images/inspector-trackers.png');
      }

      > #inspector-tab-files {
        @include right-rounded-box($border-radius);
        @include inspector-tab-image('images/inspector-files.png');
      }
    }
  }

  #inspector-header {
    margin: 8px 0;

    #torrent-inspector-name {
      font-size: large;
      font-weight: bold;
    }
  }

  .tier-list {
    clear: both;
    cursor: default;
    display: block;
    list-style: none;
    margin: 2px 0 8px;
    padding-left: 0;
    text-align: left;
    width: 100%;

    li {
      overflow: hidden;
    }

    .tracker-activity {
      color: #666;
      display: table;
      float: left;
      margin-top: 1px;
      width: 200px;
    }

    .tracker-activity div {
      padding: 2px;
    }

    table {
      color: #666;
      float: right;
    }

    th {
      text-align: right;
    }
  }

  .inspector-tracker-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.odd {
      background-color: #eee;
    }
  }

  .tracker-host {
    color: #222;
    font-size: 1.2em;
    font-weight: bold;
  }

  /* Files Inspector Tab */

  #inspector-file-list {
    cursor: default;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
  }

  #inspector-file-list {
    border-top: 1px solid #888;
    clear: both;
    cursor: default;
    display: block;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 6px 0 0;
    padding-bottom: 10px;
    padding-top: 6px;
    text-align: left;
    width: 100%;
  }

  .inspector-torrent-file-list-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.skip {
      color: #666;
    }

    &.even {
      background-color: #f7f7f7;
    }
  }

  .inspector-torrent-file-list-entry-name {
    color: #000;
    display: inline;
    font-size: 1.2em;
    margin-left: 0;
  }

  .inspector-torrent-file-list-entry.skip > .inspector-torrent-file-list-entry-name {
    color: #999;
  }

  .inspector-torrent-file-list-entry-progress {
    color: #999;
    margin-left: 20px;
  }

  .single-file .inspector-torrent-file-list-entry > .file-wanted-control,
  .inspector-torrent-file-list-entry.complete > .file-wanted-control {
    cursor: default;
  }
}

/* Peers Inspector Tab */
#inspector-peers-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;

  > .inspector-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.peer-list {
  border-collapse: collapse;
  clear: both;
  cursor: default;
  table-layout: fixed;
  text-align: left;
  width: 100%;

  .encrypted-col {
    width: 16px;
  }

  .up-col {
    width: 70px;
  }

  .down-col {
    width: 70px;
  }

  .percent-col {
    padding-right: 5px;
    text-align: right;
    width: 30px;
  }

  .status-col {
    padding-right: 5px;
    width: 40px;
  }

  .address-col {
    width: 180px;
  }

  .client-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.inspector-peer-entry {
  .encrypted-peer-cell {
    background: transparent url('images/lock_icon.png') no-repeat;
    height: 16px;
    width: 16px;
  }

  &.odd {
    background-color: #eee;
  }
}

/***
****  File Priority Buttons
***/

@mixin file-button-image($image-url) {
  @include button-image(
    $image-url,
    color.mix($nonselected-gradient-top, $nonselected-gradient-bottom, 80%),
    color.mix($nonselected-gradient-top, $nonselected-gradient-bottom, 20%),
    color.mix($selected-gradient-top, $selected-gradient-bottom, 80%),
    color.mix($selected-gradient-top, $selected-gradient-bottom, 20%)
  );
}

.file-priority-radiobox {
  $border-radius: 5px;

  // We have row after row of these buttons, so the flashy colors used in the inspector tabs look harsh here.
  // Keep the same basic color theme, but look less harsh, by cutting the gradient's color range.

  display: inline;
  float: right;
  margin: 4px;
  margin-top: 2px;

  > * {
    @include button;
    height: 12px;
    width: 20px;
  }

  > .low {
    @include left-rounded-box($border-radius);
    @include file-button-image('images/file-priority-low.png');
    border-right-width: 0;
  }

  > .normal {
    @include file-button-image('images/file-priority-normal.png');
  }

  > .high {
    @include right-rounded-box($border-radius);
    @include file-button-image('images/file-priority-high.png');
    border-left-width: 0;
  }
}

/****
*****
*****  MAIN WINDOW FOOTER
*****
****/

@mixin footer-button-image($image-url) {
  @include button-image(
    $image-url,
    $nonselected-gradient-top,
    $nonselected-gradient-bottom,
    $selected-gradient-top,
    $selected-gradient-bottom
  );
}

.torrent-footer {
  @include vertical-gradient($statusbar-gradient-top, $statusbar-gradient-bottom);
  border-top: 1px solid #555;
  height: 22px;
  // position: relative;
  // width: 100%;
  // z-index: 3;

  > div {
    border: 1px solid #888;
    float: left;
    height: 12px;
    margin: 2px 4px;
    padding: 2px 8px;
    position: relative;
    user-select: none;
    width: 18px;
  }

  #settings-menu {
    display: none;
  }

  #prefs-button {
    @include rounded-box(5px);
    @include footer-button-image('images/wrench.png');
  }

  #turtle-button {
    @include rounded-box(5px);
    @include footer-button-image('images/turtle.png');

    &:active,
    &.selected {
      @include image-on-vertical-gradient(
        'images/blue-turtle.png',
        $selected-gradient-top,
        $selected-gradient-bottom
      );
    }
  }

  #compact-button {
    @include rounded-box(5px);
    @include footer-button-image('images/compact.png');
  }
}

/****
*****
*****  DIALOGS
*****
****/

#dialog-message.dialog-message {
  font-size: 13px;
  line-height: 14px;
  margin: 10px auto 25px;
  overflow: hidden;
  padding-bottom: 0;
  width: 280px;
  word-wrap: break-word;
}

#upload-container {
  flex-grow: 1;

  label {
    display: block;
    margin-top: 15px;
  }

  input {
    display: block;
    margin: 3px auto;
  }

  input[type='checkbox'] {
    display: inline;
    margin: 15px 3px 0 0;
    width: auto;
  }

  #auto-start-label {
    display: inline;
  }
}

.dialog-heading {
  font-size: 17px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.dialog-container a {
  background: #222;
  border: 2px solid #fff;
  border-radius: 16px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 5px 0;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

#dialog-container .dialog-window img {
  margin: 5px auto 12px;
}

.landscape {
  .dialog-container {
    #dialog-cancel-button {
      left: 155px;
    }

    #dialog-confirm-button {
      right: 110px;
    }

    img {
      float: left !important;
      margin: 0 0 0 50px;
    }
  }

  #dialog-heading.dialog-heading {
    margin: 5px auto 0;
    margin-left: 150px;
    text-align: left;
  }

  #dialog-message.dialog-message {
    margin: 10px 0 20px 150px;
    text-align: left;
    width: 300px;
  }
}

#torrent-context-menu {
  font-size: 1em;
  z-index: 3;
}

#torrent-upload-frame {
  border: 0;
  display: block; /* Don't change this : safari forms won't target hidden frames (they open a new window) */
  height: 0;
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1000px;
  width: 0;
}

.ui-menu {
  width: 200px;
}
