@use "sass:color";
@use "sass:math";

// COLORS
// TODO: do we need this many greys?

$black: #000;
$white: #fff;
$grey13: #212121;
$grey20: #333;
$grey40: #666;
$grey60: #999;
$grey67: #ababab;
$grey73: #bababa;
$grey81: #cfcfcf;
$grey87: #dedede;
$grey97: #f7f7f7;

// Z-INDEX ENUM
$z-index-mainwin: 0;
$z-index-progressbar: 1;
$z-index-popup: 2;

// SVG ICONS

// https://icons.getbootstrap.com/icons/chevron-up/ MIT license
$svg-chevron-up: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-chevron-up' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/></svg>";

// https://icons.getbootstrap.com/icons/chevron-down/ MIT license
$svg-chevron-dn: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-chevron-down' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>";

// https://icons.getbootstrap.com/icons/three-dots-vertical/ MIT license
$svg-three-dots-vertical: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-three-dots-vertical' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'/></svg>";

// https://material.io/resources/icons/?icon=horizontal_rule Apache license version 2.0.
$svg-baseline: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24' viewBox='0 0 24 24' width='24'><g><rect fill='none' fill-rule='evenodd' height='24' width='24'/><rect fill-rule='evenodd' height='2' width='16' x='4' y='11'/></g></svg>";

// https://icons.getbootstrap.com/icons/search/ MIT license
$svg-search: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-search' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'/><path fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z'/></svg>";

// https://icons.getbootstrap.com/icons/gear-fill/ MIT license
$svg-gear-fill: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-gear-fill' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z'/></svg>";

// https://icons.getbootstrap.com/icons/files/ MIT license
$svg-bi-files: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-files' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4 2h7a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4z'/><path d='M6 0h7a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1H4a2 2 0 0 1 2-2z'/></svg>";

// https://icons.getbootstrap.com/icons/person-fill/ MIT license
$svg-person-fill: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-person-fill' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/></svg>";

// https://material.io/resources/icons/?icon=list  license version 2.0.
$svg-list: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z'/></svg>";

// https://icons.getbootstrap.com/icons/lock-fill/ MIT license
$svg-lock-fill: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-lock-fill' fill='%23FFD700' xmlns='http://www.w3.org/2000/svg'><path d='M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z'/><path fill-rule='evenodd' d='M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z'/></svg>";

// https://material.io/resources/icons/?icon=pause_circle_filled Apache license version 2.0.
// grey60 <- %23999
$svg-pause-circle-idle: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23999' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 14H9V8h2v8zm4 0h-2V8h2v8z'/></svg>";
$svg-pause-circle-active: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23800' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 14H9V8h2v8zm4 0h-2V8h2v8z'/></svg>";

// https://material.io/resources/icons/?icon=play_circle_filled Apache license version 2.0.
// grey60 <- %23999
$svg-play-circle-idle: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23999' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/></svg>";
$svg-play-circle-active: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23080' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/></svg>";

// https://material.io/resources/icons/?icon=analytics Apache license version 2.0.
$svg-analytics: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-5h2v5zm4 0h-2v-3h2v3zm0-5h-2v-2h2v2zm4 5h-2V7h2v10z'/></svg>";

// https://icons.getbootstrap.com/icons/broadcast/ MIT license
$svg-broadcast: "data:image/svg+xml;utf8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-broadcast' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 0 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707z'/><path d='M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z'/></svg>";

// https://material.io/resources/icons/?icon=menu Apache license version 2.0.
$svg-menu: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='18px' height='18px'><path d='M0 0h24v24H0z' fill='none'/><path d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/></svg>";

/// MIXINS

@mixin vertical-gradient($topColor, $bottomColor) {
  background: color.mix($topColor, $bottomColor)
    linear-gradient($topColor, $bottomColor);
}

@mixin image-on-vertical-gradient($src, $topColor, $bottomColor) {
  background-image: url($src), linear-gradient($topColor, $bottomColor);
  background-position: center;
  background-repeat: no-repeat;
}

@mixin button-image(
  $image-url,
  $idle-color-top,
  $idle-color-bottom,
  $active-color-top,
  $active-color-bottom
) {
  @include image-on-vertical-gradient(
    $image-url,
    $idle-color-top,
    $idle-color-bottom
  );

  &:active,
  &.selected {
    @include image-on-vertical-gradient(
      $image-url,
      $active-color-top,
      $active-color-bottom
    );
  }
}

$nonselected-gradient-top: $white;
$nonselected-gradient-bottom: $grey73;
$selection-color: #cdcdff;
$selected-gradient-top: $selection-color;
$selected-gradient-bottom: $white;

@mixin button {
  border: 1px solid $grey67;
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  user-select: none;
}

@mixin rounded-box($radius) {
  border-radius: $radius;
}

@mixin left-rounded-box($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin right-rounded-box($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin rounded-button($radius) {
  @include button;
  border-radius: $radius;
}

/// GLOBAL

html,
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

img {
  border: 0;
}

a {
  outline: 0;
}

.hidden {
  display: none;
}

.mainwin {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  > * {
    margin: 0;
    padding: 0;
  }
}
.mainwin-workarea {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: auto;
}

/// TOOLBAR

$toolbar-height-num: 36;
$toolbar-height: $toolbar-height-num * 1px;

.toolbar-button {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: $toolbar-height;
  padding: 0 6px;
  user-select: none;
  width: $toolbar-height;

  &.disabled {
    cursor: default;
    opacity: 0.25;
  }
}

#mainwin-toolbar {
  $toolbar-button-size: 36px;
  $toolbar-gradient-top: $grey87;
  @include vertical-gradient($grey87, $grey73);
  border-bottom: 1px solid $grey67;
  display: flex;
  flex-direction: row;
  height: $toolbar-height;
  margin: 0;
  padding: 2px;
  width: 100%;

  > .toolbar-separator {
    border-left: 1px solid $grey67;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 8px;
    width: 3px;
  }
}

@mixin toolbar-button-background-image($url) {
  background-image: url($url);

  // use a lighter background color during hover
  &:hover:not(.disabled) {
    background-image: url($url), linear-gradient($white, $grey87);
  }
}
#toolbar-open {
  @include toolbar-button-background-image('images/toolbar-folder.png');
}
#toolbar-remove {
  @include toolbar-button-background-image('images/toolbar-close.png');
}
#toolbar-start {
  @include toolbar-button-background-image('images/toolbar-start.png');
}
#toolbar-pause {
  @include toolbar-button-background-image('images/toolbar-pause.png');
}
#toolbar-inspector {
  @include toolbar-button-background-image('images/toolbar-info.png');
}
#toolbar-more {
  @include toolbar-button-background-image($svg-menu);
}

/// FILTERBAR

$filterbar-gradient-top: $grey87;
$filterbar-gradient-bottom: $grey73;

$filterbar-height-num: 26;
$filterbar-height: $filterbar-height-num * 1px;

.mainwin-filterbar {
  @include vertical-gradient(
    $filterbar-gradient-top,
    $filterbar-gradient-bottom
  );
  align-items: center;
  border-bottom: 1px solid $grey67;
  display: flex;
  flex-direction: row;
  height: $filterbar-height;
  width: 100%;

  > * {
    font-size: smaller;
    margin: 5px;
  }
}
#torrent-search {
  &.blur {
    color: $grey60;
  }
}

$speed-icon-size: 12px;
.speed-up-icon {
  background-image: url($svg-chevron-up);
  background-size: $speed-icon-size $speed-icon-size;
  height: $speed-icon-size;
  width: $speed-icon-size;
}
.speed-dn-icon {
  background-image: url($svg-chevron-dn);
  background-size: $speed-icon-size $speed-icon-size;
  height: $speed-icon-size;
  width: $speed-icon-size;
}

/// TORRENT CONTAINER

$pauseresume-size: 14px;
$progressbar-border-number: 1;
$progressbar-height-number: 14;
$progressbar-height: 14px;
$torrent-container-top: $toolbar-height-num + $filterbar-height-num + 6px;

.flex {
  flex-grow: 1;
}

#torrent-container {
  flex-grow: 1;
  left: 0;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  right: 0;
}

.torrent-list {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  .torrent {
    background-color: $white;
    border-bottom: 1px solid $grey81;
    color: $grey40;
    display: flex;

    &.compact {
      align-items: center;
      flex-direction: row-reverse;
      > * {
        margin: 4px 5px;
      }
    }
    &:not(.compact) {
      flex-direction: column;
      padding: 2px 12px;
      > * {
        margin: 1px 0;
      }
    }

    &.even {
      background-color: $grey97;
    }

    &.selected {
      background-color: $selection-color;
    }

    &.selected .torrent-progress-details.error,
    &.selected .torrent-peer-details.error {
      color: $white;
    }
  }

  .torrent-pauseresume-button {
    padding-left: 6px;
  }

  .torrent-pause {
    background-image: url($svg-pause-circle-idle);
    background-size: $pauseresume-size;
    height: $pauseresume-size;
    width: $pauseresume-size;
    &:active,
    &:hover {
      background-image: url($svg-pause-circle-active);
    }
  }

  .torrent-resume {
    background-image: url($svg-play-circle-idle);
    background-size: $pauseresume-size;
    height: $pauseresume-size;
    width: $pauseresume-size;
    &:active,
    &:hover {
      background-image: url($svg-play-circle-active);
    }
  }

  .torrent-progress-details.error,
  .torrent-peer-details.error {
    color: #f00;
  }

  .torrent-name {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.compact {
      flex-grow: 1;
      font-size: 1em;
      font-weight: normal;
    }

    &:not(.paused) {
      color: $grey13;
    }
  }

  .torrent-progress-details,
  .torrent-peer-details {
    font-size: smaller;
  }

  .torrent-progress {
    display: flex;

    &.full {
      margin: 2px 0;
    }
    .torrent-progress-bar-container {
      flex-grow: 1;
    }
  }

  .torrent-progress-bar-container {
    height: ($progressbar-height-number - ($progressbar-border-number * 2)) *
      1px;
    position: relative;

    &.compact {
      min-width: 50px;
      width: 50px;
    }
  }

  .torrent-progress-bar {
    border: 1px solid;
    border-radius: 3px;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;

    &.background {
      right: 0;
    }
    &.foreground {
      width: attr(percent-done);
      z-index: $z-index-progressbar;
      &:not(.full) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    @mixin progressbar-gradient($value) {
      background: linear-gradient(to bottom, $value, darken($value, 25%) 80%);
      border-color: darken($value, 30%);
    }

    // FIXME: 50% torrents' progressbars don't work. We don't have a way to overlay the two progressbars

    &.foreground.paused {
      @include progressbar-gradient(#aaa);
    }
    &.foreground.magnet {
      @include progressbar-gradient(#eee);
    }
    &.foreground.leeching.queued {
      @include progressbar-gradient(#abc3cf);
    }
    &.foreground.leeching {
      @include progressbar-gradient(#42a9ff);
    }
    &.foreground.seeding.queued {
      @include progressbar-gradient(#aec0b1);
    }
    &.foreground.seeding {
      @include progressbar-gradient(#4e4);
    }

    &.background.paused {
      @include progressbar-gradient(#eee);
    }
    &.background.magnet {
      @include progressbar-gradient(#e98484);
    }
    &.background.leeching.queued {
      @include progressbar-gradient(#f3f3f3);
    }
    &.background.leeching {
      @include progressbar-gradient(#eee);
    }
    &.background.seeding {
      @include progressbar-gradient(#5e5);
    }
  }
}

/// MENU

.mainwin-menu {
  background: linear-gradient(160deg, #d21, 1%, #f7f7f7, 40%, #ccc);
  height: 100%;
  left: 0;
  margin-right: 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 300px;
  z-index: $z-index-popup;

  &.hidden {
    display: block;
    width: 0;
  }
  &:not(.hidden) {
    border-right: 1px solid $grey20;
    padding: 20px;
  }

  .actions a,
  .info a,
  .links a {
    display: block;
    width: 150px;
  }

  .title {
    color: $grey40;
    font-weight: bold;
  }
  .options {
    margin: 0 10px 20px;
  }
  .disabled {
    cursor: default;
    opacity: 0.25;
  }
  a {
    border-radius: 5px;
    color: $grey40;
    cursor: pointer;
    display: inline-block;
    font-size: smaller;
    padding: 5px;
    text-decoration: none;
    &:hover:not(.disabled) {
      background-color: $grey97;
    }
  }
  .selected {
    background-color: $grey97;
    color: #000;
  }
  .mainwin-menu-close {
    color: $grey67;
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
    &:hover {
      color: $grey81;
    }
  }
}

/// CONTEXT MENU

.context-menu {
  background: linear-gradient($grey87, $grey73);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: $z-index-popup;
}
.context-menuitem {
  list-style: none;
  padding: 5px 10px;

  &:hover:not(.disabled) {
    background-image: linear-gradient($white, $grey87);
    cursor: pointer;
  }
  &.disabled {
    opacity: 0.25;
  }
}
.context-menu-separator {
  border-bottom: 1px solid $grey40;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/// PREFERENCES DIALOG

#prefs-dialog.ui-tabs .ui-tabs-panel {
  padding: 0;
  user-select: none;
}

.prefs-section {
  text-align: left;

  > * {
    padding: 0 8px 8px;
  }

  .title {
    font-size: larger;
    font-weight: bold;
    padding-left: 0;
  }

  .row {
    .key {
      float: left;
      padding-top: 3px;

      > * {
        margin-left: 0;
      }
    }

    .value {
      margin-left: 150px;

      > * {
        width: 100%;
      }
    }
  }

  .checkbox-row {
    > input {
      margin: 0;
    }

    > label {
      margin-left: 5px;
    }
  }

  #alternative-speed-limits-title {
    background: transparent url('images/blue-turtle.png') no-repeat;
    padding-left: 18px;
  }

  #alternative-speed-limits-desc {
    font-size: smaller;
    padding-bottom: 4px;
  }

  #blocklist-info {
    font-size: smaller;
    margin-top: 3px;
  }
}

/// INSPECTOR

$inspector-width: 570px;

@mixin inspector-tab-image($image-url) {
  @include button-image(
    $image-url,
    $nonselected-gradient-top,
    $nonselected-gradient-bottom,
    $selected-gradient-top,
    $selected-gradient-bottom
  );
}

#torrent-inspector {
  border-left: 1px solid $grey40;
  bottom: 22px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px;
  position: fixed;
  right: 0;
  text-align: left;
  top: $torrent-container-top;
  width: $inspector-width;
  z-index: $z-index-popup;

  .inspector-page {
    padding: 8px 0;
  }

  #inspector-close {
    display: none;
  }

  #inspector-tabs-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    #inspector-tabs {
      $border-radius: 5px;
      display: flex;

      > * {
        @include button;
        height: 20px;
        margin-left: 0;
        width: 30px;
      }

      > #inspector-tab-info {
        @include left-rounded-box($border-radius);
        @include inspector-tab-image($svg-analytics);
        border-left-width: 1px;
      }

      > #inspector-tab-peers {
        @include inspector-tab-image($svg-person-fill);
      }

      > #inspector-tab-trackers {
        @include inspector-tab-image($svg-broadcast);
      }

      > #inspector-tab-files {
        @include right-rounded-box($border-radius);
        @include inspector-tab-image($svg-bi-files);
      }
    }
  }

  #inspector-header {
    margin: 8px 0;

    #torrent-inspector-name {
      font-size: large;
      font-weight: bold;
    }
  }

  .tier-list {
    clear: both;
    cursor: default;
    display: block;
    list-style: none;
    margin: 2px 0 8px;
    padding-left: 0;
    text-align: left;
    width: 100%;

    li {
      overflow: hidden;
    }

    .tracker-activity {
      color: $grey40;
      display: table;
      float: left;
      margin-top: 1px;
      width: 330px;
    }

    .tracker-activity div {
      padding: 2px;
    }

    table {
      color: $grey40;
      float: right;
    }

    th {
      text-align: right;
    }
  }

  .inspector-tracker-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.odd {
      background-color: #eee;
    }
  }

  .tracker-host {
    color: $grey13;
    font: bold 1.2em;
  }

  /* Files Inspector Tab */

  #inspector-file-list {
    cursor: default;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-inline-start: 0;
    text-align: left;
  }

  .inspector-torrent-file-list-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.skip {
      color: $grey40;
    }

    &.even {
      background-color: #f7f7f7;
    }
  }

  .inspector-torrent-file-list-entry-name {
    color: $black;
    display: inline;
    font-size: 1.2em;
    margin-left: 0;
  }

  .inspector-torrent-file-list-entry.skip
    > .inspector-torrent-file-list-entry-name {
    color: $grey60;
  }

  .inspector-torrent-file-list-entry-progress {
    color: $grey60;
    margin-left: 20px;
  }

  .single-file .inspector-torrent-file-list-entry > .file-wanted-control,
  .inspector-torrent-file-list-entry.complete > .file-wanted-control {
    cursor: default;
  }
}

/* Peers Inspector Tab */
#inspector-peers-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;

  > .inspector-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.peer-list {
  border-collapse: collapse;
  clear: both;
  cursor: default;
  table-layout: fixed;
  text-align: left;
  width: 100%;

  .encrypted-col {
    width: 16px;
  }

  .up-col {
    width: 70px;
  }

  .down-col {
    width: 70px;
  }

  .percent-col {
    padding-right: 5px;
    text-align: right;
    width: 30px;
  }

  .status-col {
    padding-right: 5px;
    width: 40px;
  }

  .address-col {
    width: 180px;
  }

  .client-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.inspector-peer-entry {
  .encrypted-peer-cell {
    background: transparent url($svg-lock-fill) no-repeat;
    height: 16px;
    width: 16px;
  }

  &.odd {
    background-color: #eee;
  }
}

/// FILE PRIORITY BUTTONS

@mixin file-button-image($image-url) {
  @include button-image(
    $image-url,
    color.mix($nonselected-gradient-top, $nonselected-gradient-bottom, 80%),
    color.mix($nonselected-gradient-top, $nonselected-gradient-bottom, 20%),
    color.mix($selected-gradient-top, $selected-gradient-bottom, 80%),
    color.mix($selected-gradient-top, $selected-gradient-bottom, 20%)
  );
}

.file-priority-radiobox {
  $border-radius: 5px;

  // We have row after row of these buttons, so the flashy colors used in the inspector tabs look harsh here.
  // Keep the same basic color theme, but look less harsh, by cutting the gradient's color range.

  display: inline;
  float: right;
  margin: 4px;
  margin-top: 2px;

  > * {
    @include button;
    background-size: 20px 12px;
    height: 12px;
    padding: 0;
    width: 20px;
  }

  > .low {
    @include left-rounded-box($border-radius);
    @include file-button-image($svg-chevron-dn);
    border-right-width: 0;
  }

  > .normal {
    @include file-button-image($svg-baseline);
  }

  > .high {
    @include right-rounded-box($border-radius);
    @include file-button-image($svg-chevron-up);
    border-left-width: 0;
  }
}

/// MAIN WINDOW FOOTER

$footer-height-number: 22;

.mainwin-footer {
  @include vertical-gradient(
    $filterbar-gradient-top,
    $filterbar-gradient-bottom
  );
  align-items: center;
  border-top: 1px solid $grey40;
  display: flex;
  flex-direction: row;
  height: $footer-height-number * 1px;

  > div {
    // border: 1px solid $grey40;
    // border-radius: 5px;
    height: 12px;
    margin: 2px 4px;
    padding: 2px 8px;
    user-select: none;
    width: 18px;
  }
}

#turtle-button {
  background-image: url('images/turtle.png');
  background-position: center;
  background-repeat: no-repeat;

  &[aria-checked='true'] {
    background-image: url('images/blue-turtle.png');
  }
  &:hover {
    background-color: $grey97;
  }
}

#freespace-info {
  border: 0;
  float: right;
  text-align: right;
  width: 100px;
}

/// DIALOGS

$width-threshold-number: 550;
$dialog-padding-number: 20;
$dialog-logo-padding-number: $dialog-padding-number * 2 / 3;

@media screen and (max-width: $width-threshold-number * 1px) {
  .dialog-container {
    opacity: 96%;
    position: absolute;
    top: $torrent-container-top;
    width: 100%;
  }
  .dialog-logo {
    padding-bottom: $dialog-logo-padding-number * 1px;
  }
  .dialog-window {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .dialog-heading {
    grid-row: 2 / 3;
  }
  .dialog-buttons {
    padding-top: $dialog-logo-padding-number * 1px;
  }
}
@media screen and (min-width: ($width-threshold-number + 1) * 1px) {
  .dialog-container {
    left: 50%;
    min-width: 400px;
    position: absolute;
    top: $torrent-container-top * 2;
    transform: translateX(-50%);
  }
  .dialog-window {
    display: grid;
  }
  .dialog-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding-right: $dialog-logo-padding-number * 1px;
  }
  .dialog-heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #hotkeys-dialog {
    min-width: 500px;
  }
}

.dialog-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
  z-index: $z-index-popup;
}
.dialog-container form {
  margin: 0;
  padding: 0;
}
.dialog-window {
  background: linear-gradient(160deg, #d21, 1%, #f7f7f7, 40%, #ccc);
  height: 100%;
  padding: $dialog-padding-number * 1px;
}
.dialog-logo {
  background: transparent url('images/logo.png') top left no-repeat;
  height: 64px;
  width: 64px;
}
.dialog-heading {
  align-items: center;
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dialog-message {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 10px 0 0;
}
.dialog-workarea {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 10px 0 0;
}
.dialog-buttons {
  display: flex;
  float: right;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: 10px 0 0;
  text-align: center;

  > * {
    margin-left: 8px;
    padding: 8px;
  }

  a {
    border: 1px outset $grey97;
    color: $grey20;
    height: 15px;
    text-decoration: none;
  }

  a:hover,
  a:active {
    @include vertical-gradient($white, $grey87);
  }
}
.dialog-buttons-begin {
  flex-grow: 1;
}
.dialog-buttons-end {
  display: none;
}
.dialog-workarea {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: 5px;
  }
}

/// ABOUT DIALOG

#about-dialog-version-number {
  margin-left: 4px;
}
#about-dialog-version-checksum {
  font-size: small;
  font-style: italic;
  font-weight: normal;
  margin-left: auto;
  padding-left: 10px;
}

/// HOTKEYS DIALOG

#hotkeys-dialog {
  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid $grey67;
      padding: 5px 10px;
    }
  }
}

/// RENAME DIALOG

#torrent-rename-name {
  min-width: 400px;
}

/// SET-LOCATION DIALOG

#move-container #torrent-path {
  min-width: 400px;
}

/// STATS DIALOG

#stats-dialog {
  min-width: 500px;
}

/// UPLOAD DIALOG

#free-space-text {
  font-size: smaller;
  font-style: italic;
}

#torrent-upload-frame {
  border: 0;
  display: block; /* Don't change this : safari forms won't target hidden frames (they open a new window) */
  height: 0;
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1000px;
  width: 0;
}

.ui-menu {
  width: 200px;
}
