@use "sass:color";

@mixin vertical-gradient($topColor, $bottomColor) {
  background: color.mix($topColor, $bottomColor) linear-gradient($topColor, $bottomColor);
}

@mixin image-on-vertical-gradient($src, $topColor, $bottomColor) {
  background: url($src) no-repeat center, linear-gradient($topColor, $bottomColor);
}

@mixin button-image(
  $image-url,
  $idle-color-top,
  $idle-color-bottom,
  $active-color-top,
  $active-color-bottom
) {
  @include image-on-vertical-gradient($image-url, $idle-color-top, $idle-color-bottom);

  &:active,
  &.selected {
    @include image-on-vertical-gradient($image-url, $active-color-top, $active-color-bottom);
  }
}

$nonselected-gradient-top: #fff;
$nonselected-gradient-bottom: #bbb;
$selection-color: #cdcdff;
$selected-gradient-top: $selection-color;
$selected-gradient-bottom: #fff;

@mixin button {
  border: 1px solid #aaa;
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  user-select: none;
}

@mixin rounded-box($radius) {
  border-radius: $radius;
}

@mixin left-rounded-box($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin right-rounded-box($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin rounded-button($radius) {
  @include button;
  @include rounded-box($radius);
}

/*--------------------------------------
 *
 * G L O B A L
 *
 *--------------------------------------*/

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font: 70% Calibri, Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

.torrent-container {
  flex-grow: 1;
}

img {
  border: 0;
}

a {
  outline: 0;
}

/// ABOUT DIALOG

#about-dialog {
  > * {
    text-align: center;
  }

  > #about-logo {
    background: transparent url('images/logo.png') top left no-repeat;
    height: 64px;
    margin-left: 100px;
    width: 64px;
  }

  > #about-title {
    font-size: 1.3em;
    font-weight: bold;
  }
}

/// HOTKEYS DIALOG

#hotkeys-dialog {
  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid #aaa;
    }
  }
}

/// TOOLBAR

$toolbar-height: 36px;

.toolbar-button {
  cursor: pointer;
  height: $toolbar-height;
  padding: 0 6px;
  user-select: none;
  width: $toolbar-height;
}

#toolbar {
  $toolbar-button-size: 36px;
  $toolbar-gradient-top: #ddd;
  $toolbar-gradient-bottom: #bbb;
  @include vertical-gradient($toolbar-gradient-top, $toolbar-gradient-bottom);
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-direction: row;
  height: $toolbar-height;
  margin: 0;
  padding: 2px;
  width: 100%;

  > * {
    // background-position: center;
    // background-repeat: no-repeat;
    // border: 0;
    // display: inline-block;
    // float: left;
  }

  > .toolbar-separator {
    border-left: 1px solid #aaa;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 8px;
    width: 3px;
  }

  > #toolbar-open {
    background: center no-repeat
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z'/></svg>");
  }

  > #toolbar-remove {
    background: center no-repeat
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z'/></svg>");
    // background: no-repeat center url('images/remove_circle-24px.svg');
    // background-image: url('images/toolbar-close.png');
  }

  > #toolbar-start {
    background: center no-repeat
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/></svg>");
    // background: no-repeat center url('images/play_circle_filled-24px.svg');
    //background-image: url('images/toolbar-start.png');
  }

  > #toolbar-pause {
    background: center no-repeat
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 14H9V8h2v8zm4 0h-2V8h2v8z'/></svg>");
    // background: no-repeat center url('images/pause_circle_filled-24px.svg');
    // background-image: url('images/toolbar-pause.png');
  }

  > #toolbar-start-all {
    // background-image: url('images/toolbar-start-all.png');
    background: no-repeat center url('images/toolbar-start-all.png');
  }

  > #toolbar-pause-all {
    // background-image: url('images/toolbar-pause-all.png');
    background: no-repeat center url('images/toolbar-pause-all.png');
  }

  > #toolbar-inspector {
    // background: no-repeat center url('images/toolbar-info.png');
    background: center no-repeat
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'/></svg>");
    // background-image: url('images/toolbar-info.png');
  }

  > #toolbar-more {
    background: right no-repeat
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/></svg>");
    flex-grow: 1;
    margin-left: auto;
    margin-right: 8px;
  }

  > *.disabled {
    opacity: 0.25;
  }
}

/***
****
****  STATUSBAR
****
***/

$statusbar-gradient-top: #ddd;
$statusbar-gradient-bottom: #bbb;
$statusbar-height: 26px;

#statusbar {
  @include vertical-gradient($statusbar-gradient-top, $statusbar-gradient-bottom);
  border-bottom: 1px solid #aaa;
  height: $statusbar-height;
  overflow: hidden;
  position: relative;
  width: 100%;

  #filter {
    float: left;
    margin-left: 5px;

    #torrent-search {
      border-radius: 6px;
      height: 18px;
      width: 100px;

      &.blur {
        color: #999;
      }
    }

    #filter-count {
      margin-left: 8px;
    }
  }

  #speed-info {
    float: right;
    margin-right: 10px;
    margin-top: 5px;

    * {
      display: inline-block;
    }

    #speed-up-icon {
      background: url('images/arrow-up.png') bottom no-repeat;
      height: 8px;
      margin-left: 8px;
      width: 8px;
    }

    #speed-dn-icon {
      background: url('images/arrow-down.png') bottom no-repeat;
      height: 8px;
      width: 8px;
    }

    #speed-up-container,
    #speed-dn-container {
      display: inline;
    }
  }
}

/***
****
****  TORRENT CONTAINER
****
***/

$torrent-container-top: $toolbar-height + $statusbar-height + 6px;

#torrent-container {
  bottom: 22px;
  left: 0;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  position: fixed;
  right: 0;
  top: $torrent-container-top;
}

.torrent-list {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  .torrent {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #666;
    padding: 4px 30px 5px 14px;

    &.compact {
      padding: 4px;
    }

    &.even {
      background-color: #f7f7f7;
    }

    &.selected {
      background-color: $selection-color;
    }

    &.compact {
      .torrent-name {
        color: #000;
      }
    }

    // start-stop button
    a {
      float: right;
      position: relative;
      right: -22px;
      top: 1px;

      img {
        position: relative;
        right: -10px;
      }

      div {
        background: url('images/buttons/torrent_buttons.png');
        height: 14px;
        width: 14px;
      }

      .torrent-pause {
        background-position: left top;
      }

      .torrent-resume {
        background-position: center top;
      }

      &:active {
        .torrent-pause {
          background-position: left bottom;
        }

        .torrent-resume {
          background-position: center bottom;
        }
      }

      &:hover {
        .torrent-pause {
          background-position: left center;
        }

        .torrent-resume {
          background-position: center center;
        }
      }
    }

    .torrent-name {
      color: #222;
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 2px;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.compact {
        font-size: 1em;
        font-weight: normal;
      }

      &.paused {
        color: #777;
        font-weight: normal;
      }
    }

    .torrent-progress-details,
    .torrent-peer-details {
      clear: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .torrent-progress-details.error,
    .torrent-peer-details.error {
      color: #f00;
    }

    &.selected .torrent-progress-details.error,
    &.selected .torrent-peer-details.error {
      color: #fff;
    }
  }

  // Progressbar
  //
  // Each progressbar has three elemens: a parent container and two children,
  // complete and incomplete.
  //
  // The only thing needed to set the progressbar percentage is to set
  // the complete child's width as a percentage. This is because incomplete
  // is pinned to the full width and height of the parent, and complete
  // is pinned to the left side of the parent and has a higher z-index.
  //
  // The progressbar has different colors depending on its state, so there
  // are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
  .torrent-progress-bar-container {
    height: 10px;
    position: relative;

    &.compact {
      margin-top: 2px;
      position: absolute;
      right: 10px;
      width: 50px;
      /*float: right;*/
    }

    &.full {
      margin-bottom: 5px;
      margin-top: 2px;
    }
  }

  .torrent-peer-details.compact {
    float: right; // pins it next to progressbar & forces torrent-name to ellipsize when it bumps up against this div
    margin-right: 65px; // leave room on the right for the progressbar
    margin-top: 2px;
  }

  .torrent-progress-bar {
    background-image: url('images/progress.png');
    background-repeat: repeat-x;
    border: 1px solid #888;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;

    &.complete {
      z-index: 2;
    }

    &.complete.paused {
      background-position: left -30px;
      border-color: #989898;
    }

    &.complete.magnet {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.complete.leeching {
      background-position: left 0;
      border-color: #3d9dea;
    }

    &.complete.leeching.queued {
      background-position: left -70px;
      border-color: #889ca5;
    }

    &.complete.seeding {
      background-position: left -40px;
      border-color: #269e30;
    }

    &.complete.seeding.queued {
      background-position: left -60px;
      border-color: #8a998d;
    }

    &.incomplete {
      width: 100%;
      z-index: 1;
    }

    &.incomplete.paused {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.incomplete.magnet {
      background-position: left -50px;
      border-color: #d47778;
    }

    &.incomplete.leeching {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.incomplete.leeching.queued {
      background-position: left -80px;
      border-color: #c4c4c4;
    }

    &.incomplete.seeding {
      background-position: left -10px;
      border-color: #29ad35;
    }
  }
}

/***
****
****  PREFERENCES
****
***/

#prefs-dialog.ui-tabs .ui-tabs-panel {
  padding: 0;
  user-select: none;
}

.prefs-section {
  //  margin: 10px;
  text-align: left;

  > * {
    padding: 0 8px 8px;
  }

  .title {
    font-size: larger;
    font-weight: bold;
    padding-left: 0;
  }

  .row {
    .key {
      float: left;
      padding-top: 3px;

      > * {
        margin-left: 0;
      }
    }

    .value {
      margin-left: 150px;

      > * {
        width: 100%;
      }
    }
  }

  .checkbox-row {
    > input {
      margin: 0;
    }

    > label {
      margin-left: 5px;
    }
  }

  #alternative-speed-limits-title {
    background: transparent url('images/blue-turtle.png') no-repeat;
    padding-left: 18px;
  }

  #alternative-speed-limits-desc {
    font-size: smaller;
    padding-bottom: 4px;
  }

  #blocklist-info {
    font-size: smaller;
    margin-top: 3px;
  }
}

/***
****
****  TORRENT INSPECTOR
****
***/

$inspector-width: 570px;

@mixin inspector-tab-image($image-url) {
  @include button-image(
    $image-url,
    $nonselected-gradient-top,
    $nonselected-gradient-bottom,
    $selected-gradient-top,
    $selected-gradient-bottom
  );
}

#torrent-inspector {
  border-left: 1px solid #888;
  bottom: 22px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px;
  position: fixed;
  right: 0;
  text-align: left;
  top: $torrent-container-top;
  width: $inspector-width;
  z-index: 5;

  .inspector-page {
    padding: 8px 0;
  }

  #inspector-close {
    display: none;
  }

  #inspector-tabs-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    #inspector-tabs {
      $border-radius: 5px;
      display: flex;

      > * {
        @include button;
        height: 20px;
        margin-left: 0;
        width: 30px;
      }

      > #inspector-tab-info {
        @include left-rounded-box($border-radius);
        @include inspector-tab-image('images/inspector-info.png');
        border-left-width: 1px;
      }

      > #inspector-tab-peers {
        @include inspector-tab-image('images/inspector-peers.png');
      }

      > #inspector-tab-trackers {
        @include inspector-tab-image('images/inspector-trackers.png');
      }

      > #inspector-tab-files {
        @include right-rounded-box($border-radius);
        @include inspector-tab-image('images/inspector-files.png');
      }
    }
  }

  #inspector-header {
    margin-top: 8px;

    #torrent-inspector-name {
      font-size: large;
      font-weight: bold;
    }
  }

  .tier-list {
    clear: both;
    cursor: default;
    display: block;
    list-style: none;
    margin: 2px 0 8px;
    padding-left: 0;
    text-align: left;
    width: 100%;

    li {
      overflow: hidden;
    }

    .tracker-activity {
      color: #666;
      display: table;
      float: left;
      margin-top: 1px;
      width: 330px;
    }

    .tracker-activity div {
      padding: 2px;
    }

    table {
      color: #666;
      float: right;
    }

    th {
      text-align: right;
    }
  }

  .inspector-tracker-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.odd {
      background-color: #eee;
    }
  }

  .tracker-host {
    color: #222;
    font: bold 1.2em;
  }

  /* Files Inspector Tab */

  #inspector-file-list {
    cursor: default;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-inline-start: 0;
    text-align: left;
  }

  .inspector-torrent-file-list-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.skip {
      color: #666;
    }

    &.even {
      background-color: #f7f7f7;
    }
  }

  .inspector-torrent-file-list-entry-name {
    color: #000;
    display: inline;
    font-size: 1.2em;
    margin-left: 0;
  }

  .inspector-torrent-file-list-entry.skip > .inspector-torrent-file-list-entry-name {
    color: #999;
  }

  .inspector-torrent-file-list-entry-progress {
    color: #999;
    margin-left: 20px;
  }

  .single-file .inspector-torrent-file-list-entry > .file-wanted-control,
  .inspector-torrent-file-list-entry.complete > .file-wanted-control {
    cursor: default;
  }
}

/* Peers Inspector Tab */
#inspector-peers-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;

  > .inspector-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.peer-list {
  border-collapse: collapse;
  clear: both;
  cursor: default;
  table-layout: fixed;
  text-align: left;
  width: 100%;

  .encrypted-col {
    width: 16px;
  }

  .up-col {
    width: 70px;
  }

  .down-col {
    width: 70px;
  }

  .percent-col {
    padding-right: 5px;
    text-align: right;
    width: 30px;
  }

  .status-col {
    padding-right: 5px;
    width: 40px;
  }

  .address-col {
    width: 180px;
  }

  .client-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.inspector-peer-entry {
  .encrypted-peer-cell {
    background: transparent url('images/lock_icon.png') no-repeat;
    height: 16px;
    width: 16px;
  }

  &.odd {
    background-color: #eee;
  }
}

/***
****  File Priority Buttons
***/

@mixin file-button-image($image-url) {
  @include button-image(
    $image-url,
    color.mix($nonselected-gradient-top, $nonselected-gradient-bottom, 80%),
    color.mix($nonselected-gradient-top, $nonselected-gradient-bottom, 20%),
    color.mix($selected-gradient-top, $selected-gradient-bottom, 80%),
    color.mix($selected-gradient-top, $selected-gradient-bottom, 20%)
  );
}

.file-priority-radiobox {
  $border-radius: 5px;

  // We have row after row of these buttons, so the flashy colors used in the inspector tabs look harsh here.
  // Keep the same basic color theme, but look less harsh, by cutting the gradient's color range.

  display: inline;
  float: right;
  margin: 4px;
  margin-top: 2px;

  > * {
    @include button;
    height: 12px;
    width: 20px;
  }

  > .low {
    @include left-rounded-box($border-radius);
    @include file-button-image('images/file-priority-low.png');
    border-right-width: 0;
  }

  > .normal {
    @include file-button-image('images/file-priority-normal.png');
  }

  > .high {
    @include right-rounded-box($border-radius);
    @include file-button-image('images/file-priority-high.png');
    border-left-width: 0;
  }
}

/****
*****
*****  MAIN WINDOW FOOTER
*****
****/

@mixin footer-button-image($image-url) {
  @include button-image(
    $image-url,
    $nonselected-gradient-top,
    $nonselected-gradient-bottom,
    $selected-gradient-top,
    $selected-gradient-bottom
  );
}

.torrent-footer {
  @include vertical-gradient($statusbar-gradient-top, $statusbar-gradient-bottom);
  border-top: 1px solid #555;
  bottom: 0;
  height: 22px;
  position: fixed;
  width: 100%;
  z-index: 3;

  > div {
    border: 1px solid #888;
    float: left;
    height: 12px;
    margin: 2px 4px;
    padding: 2px 8px;
    user-select: none;
    width: 18px;
  }

  #settings-menu {
    @include rounded-box(5px);
    @include footer-button-image('images/settings.png');
  }

  #prefs-button {
    @include rounded-box(5px);
    @include footer-button-image('images/wrench.png');
  }

  #turtle-button {
    @include rounded-box(5px);
    @include footer-button-image('images/turtle.png');

    &:active,
    &.selected {
      @include image-on-vertical-gradient(
        'images/blue-turtle.png',
        $selected-gradient-top,
        $selected-gradient-bottom
      );
    }
  }

  #compact-button {
    @include rounded-box(5px);
    @include footer-button-image('images/compact.png');
  }

  #freespace-info {
    border: 0;
    float: right;
    text-align: right;
    width: 100px;
  }
}

/****
*****
*****  DIALOGS
*****
****/

.dialog-container {
  color: #000;
  font-size: 1.1em;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  .dialog-logo {
    background: transparent url('images/logo.png') top left no-repeat;
    float: left;
    height: 64px;
    margin: 20px 20px 0;
    width: 64px;
  }

  .dialog-window {
    background-color: #eee;
    border-top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    opacity: 0.95;
    overflow: hidden;
    position: relative;
    text-align: left;
    top: 80px;
    width: 420px;
    z-index: 10;

    .dialog-heading {
      color: #000;
      display: block;
      float: left;
      font-size: 1.2em;
      margin-top: 20px;
      width: 305px;
    }

    .dialog-message {
      float: left;
      margin-left: -3px;
      overflow: hidden;
      padding-left: 3px;
      width: 305px;

      label {
        display: block;
        margin-top: 15px;
      }

      input {
        display: block;
        margin: 3px 0 0;
        width: 249px;
      }

      input[type='text'] {
        padding: 2px;
        width: 245px;
      }

      input[type='checkbox'] {
        display: inline;
        margin: 15px 3px 0 0;
        width: auto;
      }

      #auto-start-label {
        display: inline;
      }
    }

    a {
      appearance: button;
      background-color: #eee;
      border: 1px solid #787878;
      color: #323232;
      cursor: default;
      display: block;
      float: right;
      font: bold -webkit-control;
      height: 15px;
      margin: 10px 20px 10px -8px;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      width: 50px;
    }

    a:hover,
    a:active {
      background: #c0c8d6 url('images/filter_bar.png') bottom repeat-x;
    }

    form {
      margin: 0;
      padding: 0;
    }
  }
}

#move-container #torrent-path {
  padding: 2px;
  width: 286px;
}

#torrent-upload-frame {
  border: 0;
  display: block; /* Don't change this : safari forms won't target hidden frames (they open a new window) */
  height: 0;
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1000px;
  width: 0;
}

/****
*****
*****  POPUP MENU
*****
****/

.ui-menu-item {
  text-align: left;
  white-space: nowrap;
}

#torrent-context-menu,
#footer-super-menu {
  font-size: 1em;
  z-index: 3;
}
