/*--------------------------------------
 *
 * G L O B A L
 *
 *--------------------------------------*/

html {
	margin: 0;
/* setting border: 0 hoses ie6 win window inner well border */
	padding: 0;
	height: 100%;
}

body {
	font: 62.5% "lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif; /* Resets 1em to 10px */
	color: #222;/* !important; */
	background: #FFF;
	text-align: center;
	margin: 0 0 30px;
	overflow: hidden;
}

img {
	border: none;
}

a {
	outline: 0;
}

@mixin verticalGradient($topColor, $bottomColor) {
	background-color: mix($topColor, $bottomColor);
	background-image: -webkit-gradient(linear, left top, left bottom, from($topColor), to($bottomColor)); 
	background-image: -webkit-linear-gradient(top, $topColor, $bottomColor); 
	background-image:    -moz-linear-gradient(top, $topColor, $bottomColor); 
	background-image:     -ms-linear-gradient(top, $topColor, $bottomColor); 
	background-image:      -o-linear-gradient(top, $topColor, $bottomColor); 
	background-image:         linear-gradient(top, $topColor, $bottomColor);
}

@mixin imageOnVerticalGradient($src, $topColor, $bottomColor) {
	background-color: mix($topColor, $bottomColor);
	background-image: url($src); /* fallback */
	background-image: url($src), -webkit-gradient(linear, left top, left bottom, from($topColor), to($bottomColor)); /* Saf4+, Chrome */
	background-image: url($src), -webkit-linear-gradient(top, $topColor, $bottomColor); /* Chrome 10+, Saf5.1+ */
	background-image: url($src), -moz-linear-gradient(top, $topColor, $bottomColor); /* FF3.6+ */
	background-image: url($src), -ms-linear-gradient(top, $topColor, $bottomColor); /* IE10 */
	background-image: url($src), -o-linear-gradient(top, $topColor, $bottomColor); /* Opera 11.10+ */
	background-image: url($src), linear-gradient(top, $topColor, $bottomColor); /* W3C */
	background-position: center;
	background-repeat: no-repeat;
}

$nonselected-gradient-color-top: white;
$nonselected-gradient-color-bottom: #BBB;
$selected-gradient-color-top: #68abe6;
$selected-gradient-color-bottom: #93e8ff;

@mixin button {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	display: inline-block;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px;
	padding: 3px;
}
@mixin roundedButton($radius) {
	@include button;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-topright: $radius;
	-moz-border-radius-bottomright: $radius;
}

@mixin leftRoundedBox($radius) {
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
}
@mixin rightRoundedBox($radius) {
	-moz-border-radius-topright: $radius;
	-moz-border-radius-bottomright: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}


#toolbar,
#statusbar,
.torrent_footer {
	background: #CCC;
}

/***
****
****  ABOUT DIALOG
****
***/

#about-dialog
{
	> * {
		text-align: center;
	}
	> #about-logo {
		background: transparent url('images/logo.png') top left no-repeat;
		width: 64px;
		height: 64px;
		margin-left: 100px;
	}
	> #about-title {
		font-size: 1.3em;
		font-weight: bold;
	}
}

/***
****
****  TOOLBAR
****
***/

div#toolbar
{
	$separator-spacing: 20px;

	width: 100%;
	height: 25px;
	margin: 0px;
	padding: 2px;
	border-bottom: 1px solid #AAA;

	> * {
		@include button;
		width: 18px;
		height: 18px;
		padding: 2px 8px;
		float: left;
		border: 1px solid #888;
	}

	div#toolbar-open {
		@include leftRoundedBox(5px);
		$image-url: 'images/toolbar-folder.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&:active {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
		margin-left: 4px;
	}
	> div#toolbar-remove {
		@include rightRoundedBox(5px);
		$image-url: 'images/toolbar-close.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&:active {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
	}
	> div#toolbar-start {
		@include leftRoundedBox(5px);
		$image-url: 'images/toolbar-start.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&:active {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
		margin-left: $separator-spacing;
	}
	> div#toolbar-pause {
		@include rightRoundedBox(5px);
		$image-url: 'images/toolbar-pause.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&:active {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
	}
	> div#toolbar-select {
		@include leftRoundedBox(5px);
		@include rightRoundedBox(5px);
		$image-url: 'images/toolbar-pointer.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&:active {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
		margin-left: $separator-spacing;
	}
	> div#toolbar-inspector {
		@include leftRoundedBox(5px);
		@include rightRoundedBox(5px);
		$image-url: 'images/toolbar-info.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&:active {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
		float: right;
		margin-right: 8px;
	}

	> *.disabled {
		opacity: 0.25;
	}
}

/***
****
****  STATUSBAR
****
***/

#statusbar
{
	height: 24px;
	width: 100%;
	border-bottom: 1px solid #AAA;
	overflow: hidden;
	position: relative;

	#speed-info
	{
		margin-top: 5px;
		margin-left: 45%;
		text-align: left;

		* {
			display: inline-block;
		}

		#speed-up-icon {
			margin-left: 8px;
			width: 8px;
			height: 8px;
			background: url('images/arrow-up.png') bottom no-repeat;
		}

		#speed-dn-icon {
			width: 8px;
			height: 8px;
			background: url('images/arrow-down.png') bottom no-repeat;
		}

		#speed-up-container {
			display: none;
			&.active { display: inline; }
		}

		#speed-dn-container {
			display: none;
			&.active { display: inline; }
		}

	}

	#filter-button {
		float: left;
		text-shadow: 0 1px 0 #ccc;
		margin: 5px 8px;
		-moz-user-select: none;
		-webkit-user-select: none;

		&:hover {
			cursor: pointer;
		}

		.filter-selection {
			text-decoration: underline;
		}
	}

	input#torrent_search
	{
		float: right;
		height: 15px;
		width: 100px;
		border: solid 0 #fff;
		padding: 2px;
		margin: 4px 5px 0 0;
		border-radius: 10px;

		&.blur {
			color: #999;
		}
	}
}

/***
****
****  FILTER POPUP
****
***/

#filter-popup
{
        color: #222;/* !important; */
        background: #FFF;
        z-index: 100;

	li { text-align: left }

	.count {
		padding-left: 3px;
	}

	.row {
		text-align: left;
		cursor: pointer;
		margin: 8px 2px;
		position: relative;
		height: 18px;
		-moz-user-select: none;
		-webkit-user-select: none;

		.filter-img {
			border: none;
			width: 16px;
			height: 16px;
			position: absolute;
			left: 0px;
		}
		.filter-name {
			position: absolute;
			left: 20px;
		}
		.count {
			float: right;
			color: #aaa;
		}
		&:hover, &.selected {
			font-weight: bold;
		}
	}

	#filter-by-state {
		float: left;
		width: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
		.row .filter-img { display: none; }
		.row .filter-name { left: 0px; }
	}

	#filter-by-tracker {
		float: right;
		width: 130px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

/***
****
****  TORRENT CONTAINER
****
***/

div#torrent_container {
	position: fixed;
	top: 55px;
	bottom: 22px;
	right: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	overflow: auto;
}

ul.torrent_list
{
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	cursor: pointer;

	li.torrent
	{
		border-bottom: 1px solid #ccc;
		padding: 4px 30px 5px 10px; /* Make space for buttons on the right */
		color: #666;
		background-color: white;

		&.compact {
			padding: 4px;
		}

		&.even { background-color: #F7F7F7; }
		&.selected
		{
			color: white;
			background-color: #3879D7;

			div.torrent_progress_details.error,
			div.torrent_peer_details.error,
			div.torrent_name { color: #FFF; }
			&.compact { div.torrent_name { color: white; } }
		}

		a img {
			position: relative;
			right: -10px;
		}

		div.torrent_name
		{
			font-size: 1.3em;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: #222;
			margin-top: 2px;
			margin-bottom: 2px;

			&.compact { font-size: 1.0em; font-weight: normal; }
			&.paused { font-weight: normal; color: #777; }
		}

		div.torrent_progress_details,
		div.torrent_peer_details {
			clear: left;
			font-size: 1em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		div.torrent_progress_details.error,
		div.torrent_peer_details.error {
			color: #FF0000;
		}
	}
}


/**
 * Progressbar
 *
 * Each progressbar has three elemens: a parent container and two children,
 * complete and incomplete.
 *
 * The only thing needed to set the progressbar percentage is to set
 * the complete child's width as a percentage. This is because incomplete
 * is pinned to the full width and height of the parent, and complete
 * is pinned to the left side of the parent and has a higher z-index.
 *
 * The progressbar has different colors depending on its state, so there
 * are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
 */

ul.torrent_list
{
	div.torrent_progress_bar_container
	{
		height: 10px;
		position: relative;

		&.compact {
			width: 50px;
			position: absolute;
			right: 10px;
			margin-top: 2px;
			/*float: right;*/
		}
		&.full {
			margin-top: 2px;
			margin-bottom: 5px;
		}
	}
	div.torrent_peer_details.compact
	{
		margin-top: 2px;
		margin-right: 65px; /* leave room on the right for the progressbar */
		float: right; /* pins it next to progressbar & forces torrent_name to ellipsize when it bumps up against this div */
	}
	div.torrent_progress_bar
	{
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-image: url('images/progress.png');
		background-repeat: repeat-x;
		border: 1px solid #888;

		&.complete                   { z-index: 2; }
		&.complete.paused            { background-position: left -30px; border-color: #989898; }
		&.complete.magnet            { background-position: left -20px; border-color: #CFCFCF; }
		&.complete.leeching          { background-position: left   0px; border-color: #3D9DEA; }
		&.complete.leeching.queued   { background-position: left -70px; border-color: #889CA5; }
		&.complete.seeding           { background-position: left -40px; border-color: #269E30; }
		&.complete.seeding.queued    { background-position: left -60px; border-color: #8A998D; }
		&.incomplete                 { z-index: 1; width: 100%; }
		&.incomplete.paused          { background-position: left -20px; border-color: #CFCFCF; }
		&.incomplete.magnet          { background-position: left -50px; border-color: #D47778; }
		&.incomplete.leeching        { background-position: left -20px; border-color: #CFCFCF; }
		&.incomplete.leeching.queued { background-position: left -80px; border-color: #C4C4C4; }
		&.incomplete.seeding         { background-position: left -10px; border-color: #29AD35; }
	}
}

/****
*****  START / STOP BUTTON
****/

li.torrent a
{
	float: right;
	position: relative;
	right: -22px;
	top: 1px;

	div {
		background: url('images/buttons/torrent_buttons.png');
		height: 14px;
		width: 14px;
	}

	div.torrent_pause { background-position: left top; }
	div.torrent_resume { background-position: center top; }

	&:active {
		div.torrent_pause { background-position: left bottom; }
		div.torrent_resume { background-position: center bottom; }
	}
	&:hover {
		div.torrent_pause { background-position: left center; }
		div.torrent_resume { background-position: center center; }
	}
}

/***
****
****  PREFERENCES
****
***/

#prefs-dialog.ui-tabs .ui-tabs-panel {
	padding: 0px;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.prefs-section
{
	margin: 10px;
	text-align: left;

	> * {
		padding-top: 8px;
		padding-left: 8px;
	}

	.title {
		font-weight: bold;
		padding-left: 0px;
	}

	.row {
		.key {
			float: left;
			padding-top: 3px;
			> * { margin-left: 0px; }
		}
		.value {
			margin-left: 150px;
			> * { width: 100%; }
		}
	}

	.checkbox-row {
		> input { margin: 0px; }
		> label { margin-left: 5px; }
	}

	#alternative-speed-limits-title {
		padding-left: 18px;
		background: transparent url('images/blue-turtle.png') no-repeat;
	}
}

/*--------------------------------------
 *
 * T O R R E N T   I N S P E C T O R
 *
 *--------------------------------------*/

$inspector-width: 570px;
$inspector-background: #eee;

div#torrent_inspector
{
	padding: 15px;
	position: fixed;
	top: 55px;
	bottom: 22px;
	right: 0px;
	width: $inspector-width;
	background-color: $inspector-background;
	border-left: 1px solid #888;
	z-index: 5;
	overflow: auto;
	text-align: left;

	#inspector-close
	{
		display: none;
	}

	#inspector-tabs-wrapper
	{
		width: 100%;
		overflow: hidden;
		text-align: center;

		#inspector-tabs
		{
			$border-radius: 5px;

			display: inline-block;

			> * {
				width: 30px;
				height: 20px;
			}

			> #inspector-tab-info {
				$image-url: 'images/inspector-info.png';
				@include button;
				@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
                                @include leftRoundedBox($border-radius);
                                border-left-width: 1px;
				&.selected {
					@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
				}
			}

			> #inspector-tab-activity {
				$image-url: 'images/inspector-activity.png';
				@include button;
				@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
				&.selected {
					@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
				}
			}

			> #inspector-tab-peers {
				$image-url: 'images/inspector-peers.png';
				@include button;
				@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
				&.selected {
					@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
				}
			}

			> #inspector-tab-trackers {
				$image-url: 'images/inspector-trackers.png';
				@include button;
				@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
				&.selected {
					@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
				}
			}

			> #inspector-tab-files {
				$image-url: 'images/inspector-files.png';
				@include button;
				@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
                                @include rightRoundedBox($border-radius);
                                border-right-width: 1px;
				&.selected {
					@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
				}
			}
		}
	}

	#inspector_header
	{
		margin-top: 8px;

		#torrent_inspector_name
		{
			font-weight: bold;
			font-size: large;
		}
	}

	.inspector_group
	{
		display: table;
		width: 100%;
		border-top: 1px solid #888;
		margin: 10px 0px;
		padding: 10px 0px;

		.inspector_group_label
		{
			display: table-header-group;
			font-weight: bold;
		}

		.inspector_row
		{
			display: table-row;

			> .inspector_label {
				display: table-cell;
				width: 100px; /* this + the next 380 == inspector_container_with */
			}

			> div {
				padding-top: 10px;
				width: 380px; /* inspector_container_width==480 - inspector_label_width==100 */
			}
		}

		/* Trackers Inspector Tab */
		#inspector_trackers_list
		{
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			text-align: left;
			cursor: default;
			overflow: hidden;

			& > div.inspector_group {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	ul.tier_list
	{
		margin: 2px 0 8px 0;
		width: 100%;
		padding-left: 0px;
		text-align: left;
		display: block;
		cursor: default;
		list-style-type: none;
		list-style: none;
		list-style-image: none;
		clear: both;

		li {
			overflow: hidden;
		}
		.tracker_activity {
			float: left;
			color: #666;
			width: 330px;
			display: table;
			margin-top: 1px;
		}
		.tracker_activity div {
			padding: 2px;
		}
		table {
			float: right;
			color: #666;
		}
		th {
			text-align: right;
		}

	}

	li.inspector_tracker_entry {
		padding: 3px 0 3px 2px;
		display: block;

		&.odd {
			background-color: #EEEEEE;
		}
	}

	div.tracker_host {
		font-size: 1.2em;
		font-weight: bold;
		color: #222;
	}

	/* Files Inspector Tab */
	#inspector_file_list {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		text-align: left;
		cursor: default;
		overflow: hidden;
	}
	#inspector-page-files .select_all_button {
		@include verticalGradient($nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		@include roundedButton(5px);
		float: left;
		margin: 5px;
		padding: 2px 5px;
	}

	#inspector_file_list {
		width: 100%;
		margin: 0  0 0 0;
		padding-bottom: 10px;
		text-align: left;
		display: block;
		cursor: default;
		list-style-type: none;
		list-style: none;
		list-style-image: none;
		clear: both;
	}
	li.inspector_torrent_file_list_entry {
		padding: 3px 0 3px 2px;
		display: block;
		&.skip { color: #666; }
		&.even { background-color: #EEEEEE; }
	}

	div.inspector_torrent_file_list_entry_name {
		font-size: 1.2em;
		font-weight: bold;
		color: #222;
		margin-left: 20px;
	}
	li.inspector_torrent_file_list_entry.skip>.inspector_torrent_file_list_entry_name {
		color: #666;
	}
	div.inspector_torrent_file_list_entry_progress {
		font-size: 1em;
		color: #666;
		margin-left: 20px;
	}
	div.file_wanted_control {
		background-position: left -19px;
		float: left;
		position: absolute;
		cursor: pointer;
		margin: 3px 0 0 0;
		width: 19px;
		height: 19px;
		background-image: url('images/buttons/file_wanted_buttons.png');
		background-repeat: no-repeat;
		background-color: transparent;
	}

	li.inspector_torrent_file_list_entry.skip>.file_wanted_control {
		background-position: left top;
	}

	li.inspector_torrent_file_list_entry.complete>.file_wanted_control {
		background-position: left -19px;
	}

	ul.single_file li.inspector_torrent_file_list_entry>.file_wanted_control,
	li.inspector_torrent_file_list_entry.complete>.file_wanted_control {
		background-position: left -38px;
		cursor: default;
	}
}

/* Peers Inspector Tab */
#inspector_peers_list {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align: left;
	cursor: default;
	overflow: hidden;

	> div.inspector_group {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

table.peer_list {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	cursor: default;
	clear: both;
	table-layout: fixed;

	.encryptedCol {
		width: 16px;
	}

	.upCol {
		width: 70px;
	}

	.downCol {
		width: 70px;
	}

	.percentCol {
		width: 30px;
		padding-right: 5px;
		text-align: right;
	}

	.statusCol {
		width: 40px;
		padding-right: 5px;
	}

	.addressCol {
		width: 180px;
	}

	.clientCol {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

tr.inspector_peer_entry
{
	div.encrypted-peer-cell
	{
		width: 16px;
		height: 16px;
		background: transparent url('images/lock_icon.png') no-repeat;
	}

	&.odd
	{
		background-color: #EEEEEE;
	}
}

/***
****  File Priority Buttons
***/

div.file-priority-radiobox
{
	$border-radius: 5px;

	display: inline;
	float: right;
	margin: 4px;
	margin-top: 2px;

	> * {
		@include button;
		width: 30px;
		height: 12px;
	}

	> div.low {
		$image-url: 'images/file-priority-low.png';
		@include leftRoundedBox($border-radius);
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&.selected {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
		border-right-width: 0px;
	}

	> div.normal {
		$image-url: 'images/file-priority-normal.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&.selected {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
	}

	> div.high {
		$image-url: 'images/file-priority-high.png';
		@include rightRoundedBox($border-radius);
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&.selected {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
		border-left-width: 0px;
	}
}


/****
*****
*****  MAIN WINDOW FOOTER
*****
****/

div.torrent_footer
{
	height: 22px;
	border-top: 1px solid #555;
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 3;

	> * { 
		float: left;
		margin: 2px 4px;
		width: 18px;
		height: 12px;
		padding: 2px 8px;
		float: left;
		border: 1px solid #888;
	}

	div.main_container {
		$image-url: 'images/settings.png';
		@include leftRoundedBox(5px);
		@include rightRoundedBox(5px);
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&:active {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
	}

	#turtle-button {
		$image-url: 'images/turtle.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&.selected {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
	}

	#compact-button {
		$image-url: 'images/compact.png';
		@include imageOnVerticalGradient($image-url, $nonselected-gradient-color-top, $nonselected-gradient-color-bottom);
		&.selected {
			@include imageOnVerticalGradient($image-url, $selected-gradient-color-top, $selected-gradient-color-bottom);
		}
	}

	#prefs-button {
		display: none;
	}
}

/****
*****
*****  DIALOGS
*****
****/

div.dialog_container {
	position: absolute;
	top: 0;
	left: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	color: black;
	font-size: 1.1em;
}

div.dialog_container div.dialog_window {
	background-color: #eee;
	margin: 0 auto;
	opacity: .95;
	border-top: none;
	text-align: left;
	width: 420px;
	z-index: 10;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.7);
	top: 80px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	div.dialog_container div.dialog_window {
		top: 0;
		margin-top: 71px;
	}
}

div.dialog_container .dialog_logo {
	width: 64px;
	height: 64px;
	margin: 20px 20px 0 20px;
	float: left;
	background: transparent url('images/logo.png') top left no-repeat;
}

div.dialog_container div.dialog_window h2.dialog_heading {
	display: block;
	float: left;
	width: 305px;
	font-size: 1.2em;
	color: black;
	margin-top: 20px;
}

div.dialog_container div.dialog_window div.dialog_message {
	float: left;
	padding-left: 3px;
	margin-left: -3px;
	width: 305px;
	overflow: hidden;
}

div.dialog_container div.dialog_window a {
	display: block;
	float: right;
	margin: 10px 20px 10px -8px;
	padding: 5px;
	background-color: #EEE;
	border: 1px solid #787878;
	width: 50px;
	height: 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #323232;
	-webkit-appearance: button;
	font: -webkit-control;
	cursor: default;
}

div.dialog_container div.dialog_window a:hover,
div.dialog_container div.dialog_window a:active {
	background: #C0C8D6 url('images/filter_bar.png') bottom repeat-x;
}

div#upload_container div.dialog_window div.dialog_message label {
	margin-top: 15px;
	display: block;
}

div#upload_container div.dialog_window div.dialog_message input {
	width: 249px;
	margin: 3px 0 0 0;
	display: block;
}

div#upload_container div.dialog_window div.dialog_message input[type=text] {
	width: 245px;
	padding: 2px;
}

div#upload_container div.dialog_window div.dialog_message input[type=checkbox] {
	margin: 15px 3px 0 0;
	display: inline;
	width: auto;
}

div#upload_container div.dialog_window div.dialog_message #auto_start_label {
	display: inline;
}

div.dialog_container div.dialog_window form {
	margin: 0;
	padding: 0px;
}

iframe#torrent_upload_frame {
	display: block; /* Don't change this : safari forms won't target hidden frames (they open a new window) */
	position: absolute;
	top: -1000px;
	left: -1000px;
	width: 0px;
	height: 0px;
	border: none;
	padding: 0;
	margin: 0;
}

/****
*****
*****  POPUP MENU
*****
****/

.trans_menu {
	margin: 0;
	padding: 0;
}

.trans_menu,
.trans_menu ul {
	list-style: none;
}

.trans_menu ul {
	/* place it right above the button */
	position: relative;
	bottom: 18px;

	min-width: 210px;
	background-color: white;
	padding: 5px 0;
	text-align: left;
	list-style: none;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.trans_menu ul ul {
	min-width: 150px;
}

.trans_menu ul ul#footer_sort_menu {
	min-width: 175px;
}

.trans_menu > * li {
	margin: 0;
	padding: 3px 10px 3px 20px !important;
	color: #000;
	cursor: default;
	text-indent: auto !important;
	width: inherit;
}

.trans_menu li.separator,
.trans_menu li.separator.hover {
	border-top: 1px solid #ddd;
	margin: 5px 0;
	padding: 0px;
	background: transparent;
}

.trans_menu li span.arrow {
	float: right;
}

.trans_menu li.hover li.hover span.arrow, .trans_menu li.hover li.hover li.hover span.selected {
	color: white;
}

.trans_menu span.selected {
	margin: 0 3px 0 -15px;
	color: #666;
	float: left;
}

.trans_menu div.outerbox {
	display: none;
	background: transparent;
	border: 1px solid rgba(0,0,0,0.1);
	-webkit-border-radius: 5px;
}

.trans_menu div.inner {
	left: 0;
	margin: 0;
}

.trans_menu li.main li {
	z-index: 2;
	min-width: 78px;
}

.trans_menu a {
	text-decoration: none;
	cursor: default;
}

/*--------------------------------------
 *
 * C O N T E X T   M E N U
 *
 *--------------------------------------*/

div#jqContextMenu
{
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.1);
	-moz-user-select: none;
	-webkit-user-select: none;

	ul {
		filter: alpha(opacity=98);
		-moz-opacity: .98;
		opacity: .98;
		-webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.4);
		-webkit-border-radius: 5px;
	}

	li.separator, div#jqContextMenu li.separator:hover {
		background: inherit !important;
		border-top: 1px solid #ddd !important;
		margin: 5px 0 !important;
		padding: 0px;
	}
}
