/*--------------------------------------
 *
 * G L O B A L
 *
 *--------------------------------------*/
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  /* !important; */
  font: 62.5% 'lucida grande', Tahoma, Verdana, Arial, Helvetica, sans-serif;
  /* Resets 1em to 10px */
  margin: 0 0 30px;
  overflow: hidden;
  text-align: center;
}

body img {
  border: 0;
}

body a {
  outline: 0;
}

/***
****
****  ABOUT DIALOG
****
***/
#about-dialog > * {
  text-align: center;
}

#about-dialog > #about-logo {
  background: transparent url('images/logo.png') top left no-repeat;
  height: 64px;
  margin-left: 100px;
  width: 64px;
}

#about-dialog > #about-title {
  font-size: 1.3em;
  font-weight: bold;
}

/***
****
****  HOTKEYS DIALOG
****
***/
#hotkeys-dialog table {
  border-collapse: collapse;
  width: 100%;
}

#hotkeys-dialog table th,
#hotkeys-dialog table td {
  border: 1px solid #aaa;
}

/***
****
****  TOOLBAR
****
***/
#toolbar {
  background-color: #ccc;
  background-image: linear-gradient(#ddd, #bbb);
  border-bottom: 1px solid #aaa;
  height: 36px;
  margin: 0;
  padding: 2px;
  width: 100%;
}

#toolbar > * {
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 34px;
  padding: 3px;
  padding: 0 3px;
  user-select: none;
  width: 34px;
}

#toolbar > .toolbar-separator {
  border-left: 1px solid #aaa;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 8px;
  width: 3px;
}

#toolbar > #toolbar-open {
  background-image: url('images/toolbar-folder.png');
}

#toolbar > #toolbar-remove {
  background-image: url('images/toolbar-close.png');
}

#toolbar > #toolbar-start {
  background-image: url('images/toolbar-start.png');
}

#toolbar > #toolbar-pause {
  background-image: url('images/toolbar-pause.png');
}

#toolbar > #toolbar-start-all {
  background-image: url('images/toolbar-start-all.png');
}

#toolbar > #toolbar-pause-all {
  background-image: url('images/toolbar-pause-all.png');
}

#toolbar > #toolbar-inspector {
  background-image: url('images/toolbar-info.png');
  float: right;
  margin-right: 4px;
}

#toolbar > *.disabled {
  opacity: 0.25;
}

/***
****
****  STATUSBAR
****
***/
#statusbar {
  background-color: #ccc;
  background-image: linear-gradient(#ddd, #bbb);
  border-bottom: 1px solid #aaa;
  height: 26px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#statusbar #filter {
  float: left;
  margin-left: 5px;
}

#statusbar #filter #torrent-search {
  border-radius: 6px;
  height: 18px;
  width: 100px;
}

#statusbar #filter #torrent-search.blur {
  color: #999;
}

#statusbar #filter #filter-count {
  margin-left: 8px;
}

#statusbar #speed-info {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

#statusbar #speed-info * {
  display: inline-block;
}

#statusbar #speed-info #speed-up-icon {
  background: url('images/arrow-up.png') bottom no-repeat;
  height: 8px;
  margin-left: 8px;
  width: 8px;
}

#statusbar #speed-info #speed-dn-icon {
  background: url('images/arrow-down.png') bottom no-repeat;
  height: 8px;
  width: 8px;
}

#statusbar #speed-info #speed-up-container,
#statusbar #speed-info #speed-dn-container {
  display: inline;
}

/***
****
****  TORRENT CONTAINER
****
***/
#torrent-container {
  bottom: 22px;
  left: 0;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  position: fixed;
  right: 0;
  top: 68px;
}

.torrent-list {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  /**
  * Progressbar
  *
  * Each progressbar has three elemens: a parent container and two children,
  * complete and incomplete.
  *
  * The only thing needed to set the progressbar percentage is to set
  * the complete child's width as a percentage. This is because incomplete
  * is pinned to the full width and height of the parent, and complete
  * is pinned to the left side of the parent and has a higher z-index.
  *
  * The progressbar has different colors depending on its state, so there
  * are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
  */
}

.torrent-list .torrent {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #666;
  padding: 4px 30px 5px 14px;
}

.torrent-list .torrent.compact {
  padding: 4px;
}

.torrent-list .torrent.even {
  background-color: #f7f7f7;
}

.torrent-list .torrent.selected {
  background-color: #cdcdff;
}

.torrent-list .torrent.compact .torrent-name {
  color: #000;
}

.torrent-list .torrent a {
  float: right;
  position: relative;
  right: -22px;
  top: 1px;
}

.torrent-list .torrent a img {
  position: relative;
  right: -10px;
}

.torrent-list .torrent a div {
  background: url('images/buttons/torrent_buttons.png');
  height: 14px;
  width: 14px;
}

.torrent-list .torrent a .torrent-pause {
  background-position: left top;
}

.torrent-list .torrent a .torrent-resume {
  background-position: center top;
}

.torrent-list .torrent a:active .torrent-pause {
  background-position: left bottom;
}

.torrent-list .torrent a:active .torrent-resume {
  background-position: center bottom;
}

.torrent-list .torrent a:hover .torrent-pause {
  background-position: left center;
}

.torrent-list .torrent a:hover .torrent-resume {
  background-position: center center;
}

.torrent-list .torrent .torrent-name {
  color: #222;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.torrent-list .torrent .torrent-name.compact {
  font-size: 1em;
  font-weight: normal;
}

.torrent-list .torrent .torrent-name.paused {
  color: #777;
  font-weight: normal;
}

.torrent-list .torrent .torrent-progress-details,
.torrent-list .torrent .torrent-peer-details {
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.torrent-list .torrent .torrent-progress-details.error,
.torrent-list .torrent .torrent-peer-details.error {
  color: #f00;
}

.torrent-list .torrent.selected .torrent-progress-details.error,
.torrent-list .torrent.selected .torrent-peer-details.error {
  color: #fff;
}

.torrent-list .torrent-progress-bar-container {
  height: 10px;
  position: relative;
}

.torrent-list .torrent-progress-bar-container.compact {
  margin-top: 2px;
  position: absolute;
  right: 10px;
  width: 50px;
  /*float: right;*/
}

.torrent-list .torrent-progress-bar-container.full {
  margin-bottom: 5px;
  margin-top: 2px;
}

.torrent-list .torrent-peer-details.compact {
  float: right;
  /* pins it next to progressbar & forces torrent-name to ellipsize when it bumps up against this div */
  margin-right: 65px;
  /* leave room on the right for the progressbar */
  margin-top: 2px;
}

.torrent-list .torrent-progress-bar {
  background-image: url('images/progress.png');
  background-repeat: repeat-x;
  border: 1px solid #888;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.torrent-list .torrent-progress-bar.complete {
  z-index: 2;
}

.torrent-list .torrent-progress-bar.complete.paused {
  background-position: left -30px;
  border-color: #989898;
}

.torrent-list .torrent-progress-bar.complete.magnet {
  background-position: left -20px;
  border-color: #cfcfcf;
}

.torrent-list .torrent-progress-bar.complete.leeching {
  background-position: left 0;
  border-color: #3d9dea;
}

.torrent-list .torrent-progress-bar.complete.leeching.queued {
  background-position: left -70px;
  border-color: #889ca5;
}

.torrent-list .torrent-progress-bar.complete.seeding {
  background-position: left -40px;
  border-color: #269e30;
}

.torrent-list .torrent-progress-bar.complete.seeding.queued {
  background-position: left -60px;
  border-color: #8a998d;
}

.torrent-list .torrent-progress-bar.incomplete {
  width: 100%;
  z-index: 1;
}

.torrent-list .torrent-progress-bar.incomplete.paused {
  background-position: left -20px;
  border-color: #cfcfcf;
}

.torrent-list .torrent-progress-bar.incomplete.magnet {
  background-position: left -50px;
  border-color: #d47778;
}

.torrent-list .torrent-progress-bar.incomplete.leeching {
  background-position: left -20px;
  border-color: #cfcfcf;
}

.torrent-list .torrent-progress-bar.incomplete.leeching.queued {
  background-position: left -80px;
  border-color: #c4c4c4;
}

.torrent-list .torrent-progress-bar.incomplete.seeding {
  background-position: left -10px;
  border-color: #29ad35;
}

/***
****
****  PREFERENCES
****
***/
#prefs-dialog.ui-tabs .ui-tabs-panel {
  padding: 0;
  user-select: none;
  user-select: none;
}

.prefs-section {
  margin: 10px;
  text-align: left;
}

.prefs-section > * {
  padding-left: 8px;
  padding-top: 8px;
}

.prefs-section .title {
  font-size: larger;
  font-weight: bold;
  padding-left: 0;
}

.prefs-section .row .key {
  float: left;
  padding-top: 3px;
}

.prefs-section .row .key > * {
  margin-left: 0;
}

.prefs-section .row .value {
  margin-left: 150px;
}

.prefs-section .row .value > * {
  width: 100%;
}

.prefs-section .checkbox-row > input {
  margin: 0;
}

.prefs-section .checkbox-row > label {
  margin-left: 5px;
}

.prefs-section #alternative-speed-limits-title {
  background: transparent url('images/blue-turtle.png') no-repeat;
  padding-left: 18px;
}

.prefs-section #alternative-speed-limits-desc {
  font-size: smaller;
  padding-bottom: 4px;
}

.prefs-section #blocklist-info {
  font-size: smaller;
  margin-top: 3px;
}

/***
****
****  TORRENT INSPECTOR
****
***/
#torrent-inspector {
  border-left: 1px solid #888;
  bottom: 22px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px;
  position: fixed;
  right: 0;
  text-align: left;
  top: 68px;
  width: 570px;
  z-index: 5;
  /* Files Inspector Tab */
}

#torrent-inspector #inspector-close {
  display: none;
}

#torrent-inspector #inspector-tabs-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs {
  display: flex;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > * {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-left: 0;
  padding: 3px;
  user-select: none;
  width: 30px;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-info {
  background-color: #ddd;
  background-image: url('images/inspector-info.png'), linear-gradient(#fff, #bbb);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5px;
  border-left-width: 1px;
  border-top-left-radius: 5px;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-info:active,
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-info.selected {
  background-color: #e6e6ff;
  background-image: url('images/inspector-info.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-peers {
  background-color: #ddd;
  background-image: url('images/inspector-peers.png'), linear-gradient(#fff, #bbb);
  background-position: center;
  background-repeat: no-repeat;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-peers:active,
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-peers.selected {
  background-color: #e6e6ff;
  background-image: url('images/inspector-peers.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-trackers {
  background-color: #ddd;
  background-image: url('images/inspector-trackers.png'), linear-gradient(#fff, #bbb);
  background-position: center;
  background-repeat: no-repeat;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-trackers:active,
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-trackers.selected {
  background-color: #e6e6ff;
  background-image: url('images/inspector-trackers.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-files {
  background-color: #ddd;
  background-image: url('images/inspector-files.png'), linear-gradient(#fff, #bbb);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-files:active,
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-files.selected {
  background-color: #e6e6ff;
  background-image: url('images/inspector-files.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

#torrent-inspector #inspector-header {
  margin-top: 8px;
}

#torrent-inspector #inspector-header #torrent-inspector-name {
  font-size: large;
  font-weight: bold;
}

#torrent-inspector .tier-list {
  clear: both;
  cursor: default;
  display: block;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 2px 0 8px;
  padding-left: 0;
  text-align: left;
  width: 100%;
}

#torrent-inspector .tier-list li {
  overflow: hidden;
}

#torrent-inspector .tier-list .tracker-activity {
  color: #666;
  display: table;
  float: left;
  margin-top: 1px;
  width: 330px;
}

#torrent-inspector .tier-list .tracker-activity div {
  padding: 2px;
}

#torrent-inspector .tier-list table {
  color: #666;
  float: right;
}

#torrent-inspector .tier-list th {
  text-align: right;
}

#torrent-inspector .inspector-tracker-entry {
  display: block;
  padding: 3px 0 3px 2px;
}

#torrent-inspector .inspector-tracker-entry.odd {
  background-color: #eee;
}

#torrent-inspector .tracker-host {
  color: #222;
  font-size: 1.2em;
  font-weight: bold;
}

#torrent-inspector #inspector-file-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
}

#torrent-inspector #inspector-file-list {
  clear: both;
  cursor: default;
  display: block;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 6px 0 0;
  padding-bottom: 10px;
  padding-top: 6px;
  text-align: left;
  width: 100%;
}

#torrent-inspector .inspector-torrent-file-list-entry {
  display: block;
  padding: 3px 0 3px 2px;
}

#torrent-inspector .inspector-torrent-file-list-entry.skip {
  color: #666;
}

#torrent-inspector .inspector-torrent-file-list-entry.even {
  background-color: #f7f7f7;
}

#torrent-inspector .inspector-torrent-file-list-entry-name {
  color: #000;
  display: inline;
  font-size: 1.2em;
  margin-left: 0;
}

#torrent-inspector
  .inspector-torrent-file-list-entry.skip
  > .inspector-torrent-file-list-entry-name {
  color: #999;
}

#torrent-inspector .inspector-torrent-file-list-entry-progress {
  color: #999;
  margin-left: 20px;
}

#torrent-inspector .single-file .inspector-torrent-file-list-entry > .file-wanted-control,
#torrent-inspector .inspector-torrent-file-list-entry.complete > .file-wanted-control {
  cursor: default;
}

/* Peers Inspector Tab */
#inspector-peers-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
}

#inspector-peers-list > .inspector-group {
  margin-bottom: 0;
  padding-bottom: 0;
}

.peer-list {
  border-collapse: collapse;
  clear: both;
  cursor: default;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

.peer-list .encrypted-col {
  width: 16px;
}

.peer-list .up-col {
  width: 70px;
}

.peer-list .down-col {
  width: 70px;
}

.peer-list .percent-col {
  padding-right: 5px;
  text-align: right;
  width: 30px;
}

.peer-list .status-col {
  padding-right: 5px;
  width: 40px;
}

.peer-list .address-col {
  width: 180px;
}

.peer-list .client-col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inspector-peer-entry .encrypted-peer-cell {
  background: transparent url('images/lock_icon.png') no-repeat;
  height: 16px;
  width: 16px;
}

.inspector-peer-entry.odd {
  background-color: #eee;
}

/***
****  File Priority Buttons
***/
.file-priority-radiobox {
  display: inline;
  float: right;
  margin: 4px;
  margin-top: 2px;
}

.file-priority-radiobox > * {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  padding: 3px;
  user-select: none;
  width: 20px;
}

.file-priority-radiobox > .low {
  background-color: #ddd;
  background-image: url('images/file-priority-low.png'), linear-gradient(#f1f1f1, #c9c9c9);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5px;
  border-right-width: 0;
  border-top-left-radius: 5px;
}

.file-priority-radiobox > .low:active,
.file-priority-radiobox > .low.selected {
  background-color: #e6e6ff;
  background-image: url('images/file-priority-low.png'), linear-gradient(#d7d7ff, #f5f5ff);
  background-position: center;
  background-repeat: no-repeat;
}

.file-priority-radiobox > .normal {
  background-color: #ddd;
  background-image: url('images/file-priority-normal.png'), linear-gradient(#f1f1f1, #c9c9c9);
  background-position: center;
  background-repeat: no-repeat;
}

.file-priority-radiobox > .normal:active,
.file-priority-radiobox > .normal.selected {
  background-color: #e6e6ff;
  background-image: url('images/file-priority-normal.png'), linear-gradient(#d7d7ff, #f5f5ff);
  background-position: center;
  background-repeat: no-repeat;
}

.file-priority-radiobox > .high {
  background-color: #ddd;
  background-image: url('images/file-priority-high.png'), linear-gradient(#f1f1f1, #c9c9c9);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 5px;
  border-left-width: 0;
  border-top-right-radius: 5px;
}

.file-priority-radiobox > .high:active,
.file-priority-radiobox > .high.selected {
  background-color: #e6e6ff;
  background-image: url('images/file-priority-high.png'), linear-gradient(#d7d7ff, #f5f5ff);
  background-position: center;
  background-repeat: no-repeat;
}

/****
*****
*****  MAIN WINDOW FOOTER
*****
****/
.torrent-footer {
  background-color: #ccc;
  background-image: linear-gradient(#ddd, #bbb);
  border-top: 1px solid #555;
  bottom: 0;
  height: 22px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.torrent-footer > div {
  border: 1px solid #888;
  float: left;
  float: left;
  height: 12px;
  margin: 2px 4px;
  padding: 2px 8px;
  user-select: none;
  user-select: none;
  width: 18px;
}

.torrent-footer #settings-menu {
  background-color: #ddd;
  background-image: url('images/settings.png'), linear-gradient(#fff, #bbb);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border-radius: 5px;
}

.torrent-footer #settings-menu:active,
.torrent-footer #settings-menu.selected {
  background-color: #e6e6ff;
  background-image: url('images/settings.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

.torrent-footer #prefs-button {
  background-color: #ddd;
  background-image: url('images/wrench.png'), linear-gradient(#fff, #bbb);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border-radius: 5px;
}

.torrent-footer #prefs-button:active,
.torrent-footer #prefs-button.selected {
  background-color: #e6e6ff;
  background-image: url('images/wrench.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

.torrent-footer #turtle-button {
  background-color: #ddd;
  background-image: url('images/turtle.png'), linear-gradient(#fff, #bbb);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border-radius: 5px;
}

.torrent-footer #turtle-button:active,
.torrent-footer #turtle-button.selected {
  background-color: #e6e6ff;
  background-image: url('images/turtle.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

.torrent-footer #turtle-button:active,
.torrent-footer #turtle-button.selected {
  background-color: #e6e6ff;
  background-image: url('images/blue-turtle.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

.torrent-footer #compact-button {
  background-color: #ddd;
  background-image: url('images/compact.png'), linear-gradient(#fff, #bbb);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border-radius: 5px;
}

.torrent-footer #compact-button:active,
.torrent-footer #compact-button.selected {
  background-color: #e6e6ff;
  background-image: url('images/compact.png'), linear-gradient(#cdcdff, #fff);
  background-position: center;
  background-repeat: no-repeat;
}

.torrent-footer #freespace-info {
  border: 0;
  float: right;
  text-align: right;
  width: 100px;
}

/****
*****
*****  DIALOGS
*****
****/
.dialog-container {
  color: #000;
  font-size: 1.1em;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.dialog-container .dialog-logo {
  background: transparent url('images/logo.png') top left no-repeat;
  float: left;
  height: 64px;
  margin: 20px 20px 0;
  width: 64px;
}

.dialog-container .dialog-window {
  background-color: #eee;
  border-top: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  opacity: 0.95;
  overflow: hidden;
  position: relative;
  text-align: left;
  top: 80px;
  width: 420px;
  z-index: 10;
}

.dialog-container .dialog-window .dialog-heading {
  color: #000;
  display: block;
  float: left;
  font-size: 1.2em;
  margin-top: 20px;
  width: 305px;
}

.dialog-container .dialog-window .dialog-message {
  float: left;
  margin-left: -3px;
  overflow: hidden;
  padding-left: 3px;
  width: 305px;
}

.dialog-container .dialog-window .dialog-message label {
  display: block;
  margin-top: 15px;
}

.dialog-container .dialog-window .dialog-message input {
  display: block;
  margin: 3px 0 0;
  width: 249px;
}

.dialog-container .dialog-window .dialog-message input[type='text'] {
  padding: 2px;
  width: 245px;
}

.dialog-container .dialog-window .dialog-message input[type='checkbox'] {
  display: inline;
  margin: 15px 3px 0 0;
  width: auto;
}

.dialog-container .dialog-window .dialog-message #auto-start-label {
  display: inline;
}

.dialog-container .dialog-window a {
  appearance: button;
  background-color: #eee;
  border: 1px solid #787878;
  color: #323232;
  cursor: default;
  display: block;
  float: right;
  font: -webkit-control;
  font-weight: bold;
  height: 15px;
  margin: 10px 20px 10px -8px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 50px;
}

.dialog-container .dialog-window a:hover,
.dialog-container .dialog-window a:active {
  background: #c0c8d6 url('images/filter_bar.png') bottom repeat-x;
}

.dialog-container .dialog-window form {
  margin: 0;
  padding: 0;
}

@media screen and (min-device-pixel-ratio: 0) {
  .dialog-container .dialog-window {
    margin-top: 71px;
    top: 0;
  }
}

#move-container #torrent-path {
  padding: 2px;
  width: 286px;
}

#torrent-upload-frame {
  border: 0;
  display: block;
  /* Don't change this : safari forms won't target hidden frames (they open a new window) */
  height: 0;
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1000px;
  width: 0;
}

/****
*****
*****  POPUP MENU
*****
****/
.ui-menu-item {
  text-align: left;
  white-space: nowrap;
}

#torrent-context-menu,
#footer-super-menu {
  font-size: 1em;
  z-index: 3;
}
