/*--------------------------------------
 *
 * G L O B A L
 *
 *--------------------------------------*/
html {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font: 11px Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
  text-size-adjust: none;
  width: 100%;
}
body img {
  border: 0;
}
body a {
  outline: 0;
}
body #torrent-container {
  min-height: 328px;
}
body .dialog-container {
  min-height: 326px;
}
body #torrent-inspector {
  min-height: 329px;
}

.landscape #torrent-container {
  min-height: 147px;
}
.landscape #dialog-container,
.landscape #torrent-inspector {
  min-height: 143px;
}

.inspector-showing #torrent-filter-bar,
.inspector-showing #torrent-container,
.dialog-showing #torrent-filter-bar,
.dialog-showing #torrent-container,
.dialog-showing #torrent-inspector,
.prefs-showing #torrent-inspector,
.prefs-showing #torrent-filter-bar,
.prefs-showing #torrent-container,
.open-showing #torrent-filter-bar,
.open-showing #torrent-container {
  display: none !important;
}

/***
****
****  TOOLBAR
****
***/
#toolbar {
  background-color: #ccc;
  background-image: linear-gradient(#ddd, #bbb);
  border-bottom: 1px solid #aaa;
  height: 39px;
  margin: 0;
  padding: 2px;
  width: 100%;
}
#toolbar > * {
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 34px;
  margin-top: 5px;
  padding: 0 3px;
  user-select: none;
  width: 34px;
}
#toolbar > .toolbar-separator {
  border-left: 1px solid #aaa;
  height: 25px;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 3px;
}
#toolbar > #toolbar-open {
  background-image: url('images/toolbar-folder.png');
}
#toolbar > #toolbar-remove {
  background-image: url('images/toolbar-close.png');
}
#toolbar > #toolbar-start {
  background-image: url('images/toolbar-start.png');
}
#toolbar > #toolbar-pause {
  background-image: url('images/toolbar-pause.png');
}
#toolbar > #toolbar-start-all {
  background-image: url('images/toolbar-start-all.png');
}
#toolbar > #toolbar-pause-all {
  background-image: url('images/toolbar-pause-all.png');
}
#toolbar > #toolbar-inspector {
  background-image: url('images/toolbar-info.png');
  float: right;
}
#toolbar > *.disabled {
  opacity: 0.25;
}

/***
****
****  STATUSBAR
****
***/
#statusbar {
  background-color: #ccc;
  background-image: linear-gradient(#ddd, #bbb);
  border-bottom: 1px solid #aaa;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#statusbar #filter {
  float: left;
  margin-left: 5px;
}
#statusbar #filter #torrent-search {
  display: none;
}
#statusbar #filter #filter-count {
  margin-left: 8px;
}
#statusbar #speed-info {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
#statusbar #speed-info * {
  display: inline-block;
}
#statusbar #speed-info #speed-up-icon {
  background: url('images/arrow-up.png') bottom no-repeat;
  height: 8px;
  margin-left: 8px;
  width: 8px;
}
#statusbar #speed-info #speed-dn-icon {
  background: url('images/arrow-down.png') bottom no-repeat;
  height: 8px;
  width: 8px;
}
#statusbar #speed-info #speed-up-container,
#statusbar #speed-info #speed-dn-container {
  display: inline;
}

/***
****
****  TORRENT CONTAINER
****
***/
.torrent-list {
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  /**
  * Progressbar
  *
  * Each progressbar has three elemens: a parent container and two children,
  * complete and incomplete.
  *
  * The only thing needed to set the progressbar percentage is to set
  * the complete child's width as a percentage. This is because incomplete
  * is pinned to the full width and height of the parent, and complete
  * is pinned to the left side of the parent and has a higher z-index.
  *
  * The progressbar has different colors depending on its state, so there
  * are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
  */
}
.torrent-list .torrent {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #666;
  padding: 4px 30px 5px 14px;
}
.torrent-list .torrent.compact {
  padding: 4px;
}
.torrent-list .torrent.even {
  background-color: #f7f7f7;
}
.torrent-list .torrent.selected {
  background-color: #cdcdff;
}
.torrent-list .torrent.compact .torrent-name {
  color: #000;
}
.torrent-list .torrent a {
  display: none;
}
.torrent-list .torrent .torrent-name {
  color: #222;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.torrent-list .torrent .torrent-name.compact {
  font-size: 1em;
  font-weight: normal;
}
.torrent-list .torrent .torrent-name.paused {
  color: #777;
  font-weight: normal;
}
.torrent-list .torrent .torrent-progress-details,
.torrent-list .torrent .torrent-peer-details {
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.torrent-list .torrent .torrent-progress-details.error,
.torrent-list .torrent .torrent-peer-details.error {
  color: #f00;
}
.torrent-list .torrent.selected .torrent-progress-details.error,
.torrent-list .torrent.selected .torrent-peer-details.error {
  color: #fff;
}
.torrent-list .torrent-progress-bar-container {
  height: 10px;
  position: relative;
}
.torrent-list .torrent-progress-bar-container.compact {
  margin-top: 2px;
  position: absolute;
  right: 10px;
  width: 50px;
  /*float: right;*/
}
.torrent-list .torrent-progress-bar-container.full {
  margin-bottom: 5px;
  margin-top: 2px;
}
.torrent-list .torrent-peer-details.compact {
  float: right;
  /* pins it next to progressbar & forces torrent-name to ellipsize when it bumps up against this div */
  margin-right: 65px;
  /* leave room on the right for the progressbar */
  margin-top: 2px;
}
.torrent-list .torrent-progress-bar {
  background-image: url('images/progress.png');
  background-repeat: repeat-x;
  border: 1px solid #888;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.torrent-list .torrent-progress-bar.complete {
  z-index: 2;
}
.torrent-list .torrent-progress-bar.complete.paused {
  background-position: left -30px;
  border-color: #989898;
}
.torrent-list .torrent-progress-bar.complete.magnet {
  background-position: left -20px;
  border-color: #cfcfcf;
}
.torrent-list .torrent-progress-bar.complete.leeching {
  background-position: left 0;
  border-color: #3d9dea;
}
.torrent-list .torrent-progress-bar.complete.leeching.queued {
  background-position: left -70px;
  border-color: #889ca5;
}
.torrent-list .torrent-progress-bar.complete.seeding {
  background-position: left -40px;
  border-color: #269e30;
}
.torrent-list .torrent-progress-bar.complete.seeding.queued {
  background-position: left -60px;
  border-color: #8a998d;
}
.torrent-list .torrent-progress-bar.incomplete {
  width: 100%;
  z-index: 1;
}
.torrent-list .torrent-progress-bar.incomplete.paused {
  background-position: left -20px;
  border-color: #cfcfcf;
}
.torrent-list .torrent-progress-bar.incomplete.magnet {
  background-position: left -50px;
  border-color: #d47778;
}
.torrent-list .torrent-progress-bar.incomplete.leeching {
  background-position: left -20px;
  border-color: #cfcfcf;
}
.torrent-list .torrent-progress-bar.incomplete.leeching.queued {
  background-position: left -80px;
  border-color: #c4c4c4;
}
.torrent-list .torrent-progress-bar.incomplete.seeding {
  background-position: left -10px;
  border-color: #29ad35;
}

/***
****
****  PREFERENCES
****
***/
#prefs-dialog.ui-tabs .ui-tabs-panel {
  padding: 0;
  user-select: none;
}

.prefs-section {
  margin: 10px;
  text-align: left;
}
.prefs-section > * {
  padding-left: 8px;
  padding-top: 8px;
}
.prefs-section .title {
  font-size: larger;
  font-weight: bold;
  padding-left: 0;
}
.prefs-section .row .key {
  float: left;
  padding-top: 3px;
}
.prefs-section .row .key > * {
  margin-left: 0;
}
.prefs-section .row .value {
  margin-left: 150px;
}
.prefs-section .row .value > * {
  width: 100%;
}
.prefs-section .checkbox-row > input {
  margin: 0;
}
.prefs-section .checkbox-row > label {
  margin-left: 5px;
}
.prefs-section #alternative-speed-limits-title {
  background: transparent url('images/blue-turtle.png') no-repeat;
  padding-left: 18px;
}

/***
****
****  TORRENT INSPECTOR
****
***/
#torrent-inspector {
  overflow: auto;
  padding: 15px;
  position: relative;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 2;
  /* Files Inspector Tab */
}
#torrent-inspector #inspector-tabs-wrapper {
  overflow: hidden;
  text-align: center;
  width: 100%;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs {
  display: inline-block;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > * {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  padding: 3px;
  user-select: none;
  width: 30px;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-info {
  background-color: #ddd;
  background-image: url('images/inspector-info.png'), linear-gradient(#fff, #bbb);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5px;
  border-left-width: 1px;
  border-top-left-radius: 5px;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-info:active,
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-info.selected {
  background-color: #e6e6ff;
  background-image: url('images/inspector-info.png'), linear-gradient(#cdcdff, #fff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-peers {
  background-color: #ddd;
  background-image: url('images/inspector-peers.png'), linear-gradient(#fff, #bbb);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-peers:active,
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-peers.selected {
  background-color: #e6e6ff;
  background-image: url('images/inspector-peers.png'), linear-gradient(#cdcdff, #fff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-trackers {
  background-color: #ddd;
  background-image: url('images/inspector-trackers.png'), linear-gradient(#fff, #bbb);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-trackers:active,
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-trackers.selected {
  background-color: #e6e6ff;
  background-image: url('images/inspector-trackers.png'), linear-gradient(#cdcdff, #fff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-files {
  background-color: #ddd;
  background-image: url('images/inspector-files.png'), linear-gradient(#fff, #bbb);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-files:active,
#torrent-inspector #inspector-tabs-wrapper #inspector-tabs > #inspector-tab-files.selected {
  background-color: #e6e6ff;
  background-image: url('images/inspector-files.png'), linear-gradient(#cdcdff, #fff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
#torrent-inspector #inspector-header {
  margin-top: 8px;
}
#torrent-inspector #inspector-header #torrent-inspector-name {
  font-size: large;
  font-weight: bold;
}
#torrent-inspector .tier-list {
  clear: both;
  cursor: default;
  display: block;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 2px 0 8px;
  padding-left: 0;
  text-align: left;
  width: 100%;
}
#torrent-inspector .tier-list li {
  overflow: hidden;
}
#torrent-inspector .tier-list .tracker-activity {
  color: #666;
  display: table;
  float: left;
  margin-top: 1px;
  width: 200px;
}
#torrent-inspector .tier-list .tracker-activity div {
  padding: 2px;
}
#torrent-inspector .tier-list table {
  color: #666;
  float: right;
}
#torrent-inspector .tier-list th {
  text-align: right;
}
#torrent-inspector .inspector-tracker-entry {
  display: block;
  padding: 3px 0 3px 2px;
}
#torrent-inspector .inspector-tracker-entry.odd {
  background-color: #eee;
}
#torrent-inspector .tracker-host {
  color: #222;
  font-size: 1.2em;
  font-weight: bold;
}
#torrent-inspector #inspector-file-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
}
#torrent-inspector #inspector-file-list {
  border-top: 1px solid #888;
  clear: both;
  cursor: default;
  display: block;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 6px 0 0;
  padding-bottom: 10px;
  padding-top: 6px;
  text-align: left;
  width: 100%;
}
#torrent-inspector .inspector-torrent-file-list-entry {
  display: block;
  padding: 3px 0 3px 2px;
}
#torrent-inspector .inspector-torrent-file-list-entry.skip {
  color: #666;
}
#torrent-inspector .inspector-torrent-file-list-entry.even {
  background-color: #f7f7f7;
}
#torrent-inspector .inspector-torrent-file-list-entry-name {
  color: #000;
  display: inline;
  font-size: 1.2em;
  margin-left: 0;
}
#torrent-inspector
  .inspector-torrent-file-list-entry.skip
  > .inspector-torrent-file-list-entry-name {
  color: #999;
}
#torrent-inspector .inspector-torrent-file-list-entry-progress {
  color: #999;
  margin-left: 20px;
}
#torrent-inspector .single-file .inspector-torrent-file-list-entry > .file-wanted-control,
#torrent-inspector .inspector-torrent-file-list-entry.complete > .file-wanted-control {
  cursor: default;
}

/* Peers Inspector Tab */
#inspector-peers-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
}
#inspector-peers-list > .inspector-group {
  margin-bottom: 0;
  padding-bottom: 0;
}

.peer-list {
  border-collapse: collapse;
  clear: both;
  cursor: default;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}
.peer-list .encrypted-col {
  width: 16px;
}
.peer-list .up-col {
  width: 70px;
}
.peer-list .down-col {
  width: 70px;
}
.peer-list .percent-col {
  padding-right: 5px;
  text-align: right;
  width: 30px;
}
.peer-list .status-col {
  padding-right: 5px;
  width: 40px;
}
.peer-list .address-col {
  width: 180px;
}
.peer-list .client-col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inspector-peer-entry .encrypted-peer-cell {
  background: transparent url('images/lock_icon.png') no-repeat;
  height: 16px;
  width: 16px;
}
.inspector-peer-entry.odd {
  background-color: #eee;
}

/***
****  File Priority Buttons
***/
.file-priority-radiobox {
  display: inline;
  float: right;
  margin: 4px;
  margin-top: 2px;
}
.file-priority-radiobox > * {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  padding: 3px;
  user-select: none;
  width: 20px;
}
.file-priority-radiobox > .low {
  background-color: #ddd;
  background-image: url('images/file-priority-low.png'), linear-gradient(#f1f1f1, #c9c9c9);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5px;
  border-right-width: 0;
  border-top-left-radius: 5px;
}
.file-priority-radiobox > .low:active,
.file-priority-radiobox > .low.selected {
  background-color: #e6e6ff;
  background-image: url('images/file-priority-low.png'), linear-gradient(#d7d7ff, #f5f5ff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
.file-priority-radiobox > .normal {
  background-color: #ddd;
  background-image: url('images/file-priority-normal.png'), linear-gradient(#f1f1f1, #c9c9c9);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
.file-priority-radiobox > .normal:active,
.file-priority-radiobox > .normal.selected {
  background-color: #e6e6ff;
  background-image: url('images/file-priority-normal.png'), linear-gradient(#d7d7ff, #f5f5ff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
.file-priority-radiobox > .high {
  background-color: #ddd;
  background-image: url('images/file-priority-high.png'), linear-gradient(#f1f1f1, #c9c9c9);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 5px;
  border-left-width: 0;
  border-top-right-radius: 5px;
}
.file-priority-radiobox > .high:active,
.file-priority-radiobox > .high.selected {
  background-color: #e6e6ff;
  background-image: url('images/file-priority-high.png'), linear-gradient(#d7d7ff, #f5f5ff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}

/****
*****
*****  MAIN WINDOW FOOTER
*****
****/
.torrent-footer {
  background-color: #ccc;
  background-image: linear-gradient(#ddd, #bbb);
  border-top: 1px solid #555;
  height: 22px;
  position: relative;
  width: 100%;
  z-index: 3;
}
.torrent-footer > div {
  border: 1px solid #888;
  float: left;
  height: 12px;
  margin: 2px 4px;
  padding: 2px 8px;
  position: relative;
  user-select: none;
  width: 18px;
}
.torrent-footer #settings-menu {
  display: none;
}
.torrent-footer #prefs-button {
  background-color: #ddd;
  background-image: url('images/wrench.png'), linear-gradient(#fff, #bbb);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.torrent-footer #prefs-button:active,
.torrent-footer #prefs-button.selected {
  background-color: #e6e6ff;
  background-image: url('images/wrench.png'), linear-gradient(#cdcdff, #fff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
.torrent-footer #turtle-button {
  background-color: #ddd;
  background-image: url('images/turtle.png'), linear-gradient(#fff, #bbb);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.torrent-footer #turtle-button:active,
.torrent-footer #turtle-button.selected {
  background-color: #e6e6ff;
  background-image: url('images/turtle.png'), linear-gradient(#cdcdff, #fff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
.torrent-footer #turtle-button:active,
.torrent-footer #turtle-button.selected {
  background-color: #e6e6ff;
  background-image: url('images/blue-turtle.png'), linear-gradient(#cdcdff, #fff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}
.torrent-footer #compact-button {
  background-color: #ddd;
  background-image: url('images/compact.png'), linear-gradient(#fff, #bbb);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.torrent-footer #compact-button:active,
.torrent-footer #compact-button.selected {
  background-color: #e6e6ff;
  background-image: url('images/compact.png'), linear-gradient(#cdcdff, #fff);
  /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}

/****
*****
*****  DIALOGS
*****
****/
#dialog-message.dialog-message {
  font-size: 13px;
  line-height: 14px;
  margin: 10px auto 25px;
  overflow: hidden;
  padding-bottom: 0;
  width: 280px;
  word-wrap: break-word;
}

#upload-container .dialog-window .dialog-message label {
  display: block;
  margin-top: 15px;
}
#upload-container .dialog-window .dialog-message input {
  display: block;
  margin: 3px auto;
}
#upload-container .dialog-window .dialog-message input[type='checkbox'] {
  display: inline;
  margin: 15px 3px 0 0;
  width: auto;
}
#upload-container .dialog-window .dialog-message #auto-start-label {
  display: inline;
}

.dialog-heading {
  font-size: 17px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.dialog-container a {
  background: #222;
  border: 2px solid #fff;
  border-radius: 16px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 5px 0;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

#dialog-container .dialog-window img {
  margin: 5px auto 12px;
}

.landscape .dialog-container #dialog-cancel-button {
  left: 155px;
}
.landscape .dialog-container #dialog-confirm-button {
  right: 110px;
}
.landscape .dialog-container img {
  float: left !important;
  margin: 0 0 0 50px;
}
.landscape #dialog-heading.dialog-heading {
  margin: 5px auto 0;
  margin-left: 150px;
  text-align: left;
}
.landscape #dialog-message.dialog-message {
  margin: 10px 0 20px 150px;
  text-align: left;
  width: 300px;
}

.ui-menu-item {
  text-align: left;
  white-space: nowrap;
}

#torrent-context-menu {
  font-size: 1em;
  z-index: 3;
}

#torrent-upload-frame {
  border: 0;
  display: block;
  /* Don't change this : safari forms won't target hidden frames (they open a new window) */
  height: 0;
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1000px;
  width: 0;
}
