@mixin verticalGradient($topColor, $bottomColor) {
  background-color: mix($topColor, $bottomColor);
  background-image: -webkit-gradient(linear,
  left top,
  left bottom,
  from($topColor),
  to($bottomColor));
  background-image: linear-gradient(top, $topColor, $bottomColor);
  background-image: linear-gradient(top, $topColor, $bottomColor);
  background-image: linear-gradient(top, $topColor, $bottomColor);
  background-image: linear-gradient(top, $topColor, $bottomColor);
  background-image: linear-gradient(top, $topColor, $bottomColor);
}

@mixin imageOnVerticalGradient($src, $topColor, $bottomColor) {
  background-color: mix($topColor, $bottomColor);
  background-image: url($src); /* fallback */
  background-image: url($src),
    -webkit-gradient(linear, left top, left bottom, from($topColor), to($bottomColor)); /* Saf4+, Chrome */
  background-image: url($src), -webkit-linear-gradient(top, $topColor, $bottomColor); /* Chrome 10+, Saf5.1+ */
  background-image: url($src), -moz-linear-gradient(top, $topColor, $bottomColor); /* FF3.6+ */
  background-image: url($src), -ms-linear-gradient(top, $topColor, $bottomColor); /* IE10 */
  background-image: url($src), -o-linear-gradient(top, $topColor, $bottomColor); /* Opera 11.10+ */
  background-position: center;
  background-repeat: no-repeat;
}

@mixin buttonImage(
  $image-url,
  $idle-color-top,
  $idle-color-bottom,
  $active-color-top,
  $active-color-bottom
) {
  @include imageOnVerticalGradient($image-url, $idle-color-top, $idle-color-bottom);

  &:active,
  &.selected {
    @include imageOnVerticalGradient($image-url, $active-color-top, $active-color-bottom);
  }
}

$nonselected-gradient-top: #fff;
$nonselected-gradient-bottom: #bbb;
$selection-color: #cdcdff;
$selected-gradient-top: $selection-color;
$selected-gradient-bottom: #fff;

@mixin button {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  user-select: none;
  user-select: none;
}

@mixin roundedBox($radius) {
  border-radius: $radius;
  border-radius: $radius;
}

@mixin leftRoundedBox($radius) {
  border-bottom-left-radius: $radius;
  border-radius-bottomleft: $radius;
  border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}
@mixin rightRoundedBox($radius) {
  border-bottom-right-radius: $radius;
  border-radius-bottomright: $radius;
  border-radius-topright: $radius;
  border-top-right-radius: $radius;
}

@mixin roundedButton($radius) {
  @include button;
  @include roundedBox($radius);
}

/*--------------------------------------
 *
 * G L O B A L
 *
 *--------------------------------------*/

html {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font: 11px Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
  text-size-adjust: none;
  width: 100%;

  img {
    border: none;
  }

  a {
    outline: 0;
  }

  div#torrent-container {
    min-height: 328px;
  }

  div.dialog-container {
    min-height: 326px;
  }

  div#torrent-inspector {
    min-height: 329px;
  }

  &.landscape div#torrent-container {
    min-height: 147px;
  }

  &.landscape div#dialog-container,
  &.landscape div#torrent-inspector {
    min-height: 143px;
  }
}

body.inspector-showing #torrent-filter-bar,
body.inspector-showing #torrent-container,
body.dialog-showing #torrent-filter-bar,
body.dialog-showing #torrent-container,
body.dialog-showing #torrent-inspector,
body.prefs-showing #torrent-inspector,
body.prefs-showing #torrent-filter-bar,
body.prefs-showing #torrent-container,
body.open-showing #torrent-filter-bar,
body.open-showing #torrent-container {
  display: none !important;
}

/***
****
****  TOOLBAR
****
***/

$toolbar-gradient-top: #ddd;
$toolbar-gradient-bottom: #bbb;
$toolbar-height: 39px;

div#toolbar {
  $idle-color-top: $nonselected-gradient-top;
  $idle-color-bottom: $nonselected-gradient-bottom;
  $active-color-top: $selected-gradient-top;
  $active-color-bottom: $selected-gradient-bottom;
  @include verticalGradient($toolbar-gradient-top, $toolbar-gradient-bottom);
  border-bottom: 1px solid #aaa;
  height: $toolbar-height;
  margin: 0;
  padding: 2px;
  width: 100%;

  > * {
    @include button;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    float: left;
    height: 34px;
    margin-top: 5px;
    padding: 0 3px;
    width: 34px;
  }

  > div.toolbar-separator {
    border-left: 1px solid #aaa;
    height: 25px;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 3px;
  }

  > div#toolbar-open {
    background-image: url('images/toolbar-folder.png');
  }

  > div#toolbar-remove {
    background-image: url('images/toolbar-close.png');
  }

  > div#toolbar-start {
    background-image: url('images/toolbar-start.png');
  }

  > div#toolbar-pause {
    background-image: url('images/toolbar-pause.png');
  }

  > div#toolbar-start-all {
    background-image: url('images/toolbar-start-all.png');
  }

  > div#toolbar-pause-all {
    background-image: url('images/toolbar-pause-all.png');
  }

  > div#toolbar-inspector {
    background-image: url('images/toolbar-info.png');
    float: right;
  }

  > *.disabled {
    opacity: 0.25;
  }
}

/***
****
****  STATUSBAR
****
***/

$statusbar-gradient-top: #ddd;
$statusbar-gradient-bottom: #bbb;
$statusbar-height: 24px;

#statusbar {
  @include verticalGradient($statusbar-gradient-top, $statusbar-gradient-bottom);
  border-bottom: 1px solid #aaa;
  height: $statusbar-height;
  overflow: hidden;
  position: relative;
  width: 100%;

  #filter {
    float: left;
    margin-left: 5px;

    input#torrent-search {
      display: none;
    }

    #filter-count {
      margin-left: 8px;
    }
  }

  #speed-info {
    float: right;
    margin-right: 10px;
    margin-top: 5px;

    * {
      display: inline-block;
    }

    #speed-up-icon {
      background: url('images/arrow-up.png') bottom no-repeat;
      height: 8px;
      margin-left: 8px;
      width: 8px;
    }

    #speed-dn-icon {
      background: url('images/arrow-down.png') bottom no-repeat;
      height: 8px;
      width: 8px;
    }

    #speed-up-container,
    #speed-dn-container {
      display: inline;
    }
  }
}

/***
****
****  TORRENT CONTAINER
****
***/

ul.torrent-list {
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  li.torrent {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #666;
    padding: 4px 30px 5px 14px;

    &.compact {
      padding: 4px;
    }

    &.even {
      background-color: #f7f7f7;
    }

    &.selected {
      background-color: $selection-color;
    }

    &.compact {
      div.torrent-name {
        color: #000;
      }
    }

    // start-stop button
    a {
      display: none;
    }

    div.torrent-name {
      color: #222;
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 2px;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.compact {
        font-size: 1em;
        font-weight: normal;
      }

      &.paused {
        color: #777;
        font-weight: normal;
      }
    }

    div.torrent-progress-details,
    div.torrent-peer-details {
      clear: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    div.torrent-progress-details.error,
    div.torrent-peer-details.error {
      color: #f00;
    }

    &.selected div.torrent-progress-details.error,
    &.selected div.torrent-peer-details.error {
      color: #fff;
    }
  }

  /**
	 * Progressbar
	 *
	 * Each progressbar has three elemens: a parent container and two children,
	 * complete and incomplete.
	 *
	 * The only thing needed to set the progressbar percentage is to set
	 * the complete child's width as a percentage. This is because incomplete
	 * is pinned to the full width and height of the parent, and complete
	 * is pinned to the left side of the parent and has a higher z-index.
	 *
	 * The progressbar has different colors depending on its state, so there
	 * are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
	 */
  div.torrent-progress-bar-container {
    height: 10px;
    position: relative;

    &.compact {
      margin-top: 2px;
      position: absolute;
      right: 10px;
      width: 50px;
      /*float: right;*/
    }

    &.full {
      margin-bottom: 5px;
      margin-top: 2px;
    }
  }

  div.torrent-peer-details.compact {
    float: right; /* pins it next to progressbar & forces torrent-name to ellipsize when it bumps up against this div */
    margin-right: 65px; /* leave room on the right for the progressbar */
    margin-top: 2px;
  }

  div.torrent-progress-bar {
    background-image: url('images/progress.png');
    background-repeat: repeat-x;
    border: 1px solid #888;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;

    &.complete {
      z-index: 2;
    }

    &.complete.paused {
      background-position: left -30px;
      border-color: #989898;
    }

    &.complete.magnet {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.complete.leeching {
      background-position: left 0;
      border-color: #3d9dea;
    }

    &.complete.leeching.queued {
      background-position: left -70px;
      border-color: #889ca5;
    }

    &.complete.seeding {
      background-position: left -40px;
      border-color: #269e30;
    }

    &.complete.seeding.queued {
      background-position: left -60px;
      border-color: #8a998d;
    }

    &.incomplete {
      width: 100%;
      z-index: 1;
    }

    &.incomplete.paused {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.incomplete.magnet {
      background-position: left -50px;
      border-color: #d47778;
    }

    &.incomplete.leeching {
      background-position: left -20px;
      border-color: #cfcfcf;
    }

    &.incomplete.leeching.queued {
      background-position: left -80px;
      border-color: #c4c4c4;
    }

    &.incomplete.seeding {
      background-position: left -10px;
      border-color: #29ad35;
    }
  }
}

/***
****
****  PREFERENCES
****
***/

#prefs-dialog.ui-tabs .ui-tabs-panel {
  padding: 0;
  user-select: none;
  user-select: none;
}

.prefs-section {
  margin: 10px;
  text-align: left;

  > * {
    padding-left: 8px;
    padding-top: 8px;
  }

  .title {
    font-size: larger;
    font-weight: bold;
    padding-left: 0;
  }

  .row {
    .key {
      float: left;
      padding-top: 3px;

      > * {
        margin-left: 0;
      }
    }

    .value {
      margin-left: 150px;

      > * {
        width: 100%;
      }
    }
  }

  .checkbox-row {
    > input {
      margin: 0;
    }

    > label {
      margin-left: 5px;
    }
  }

  #alternative-speed-limits-title {
    background: transparent url('images/blue-turtle.png') no-repeat;
    padding-left: 18px;
  }
}

/***
****
****  TORRENT INSPECTOR
****
***/

div#torrent-inspector {
  $idle-color-top: $nonselected-gradient-top;
  $idle-color-bottom: $nonselected-gradient-bottom;
  $active-color-top: $selected-gradient-top;
  $active-color-bottom: $selected-gradient-bottom;
  overflow: auto;
  padding: 15px;
  position: relative;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 2;

  #inspector-tabs-wrapper {
    overflow: hidden;
    text-align: center;
    width: 100%;

    #inspector-tabs {
      $border-radius: 5px;

      display: inline-block;

      > * {
        @include button;
        height: 20px;
        width: 30px;
      }

      > #inspector-tab-info {
        @include leftRoundedBox($border-radius);
        @include buttonImage(
          'images/inspector-info.png',
          $idle-color-top,
          $idle-color-bottom,
          $active-color-top,
          $active-color-bottom
        );
        border-left-width: 1px;
      }

      > #inspector-tab-peers {
        @include buttonImage(
          'images/inspector-peers.png',
          $idle-color-top,
          $idle-color-bottom,
          $active-color-top,
          $active-color-bottom
        );
      }

      > #inspector-tab-trackers {
        @include buttonImage(
          'images/inspector-trackers.png',
          $idle-color-top,
          $idle-color-bottom,
          $active-color-top,
          $active-color-bottom
        );
      }

      > #inspector-tab-files {
        @include rightRoundedBox($border-radius);
        @include buttonImage(
          'images/inspector-files.png',
          $idle-color-top,
          $idle-color-bottom,
          $active-color-top,
          $active-color-bottom
        );
      }
    }
  }

  #inspector-header {
    margin-top: 8px;

    #torrent-inspector-name {
      font-size: large;
      font-weight: bold;
    }
  }

  ul.tier-list {
    clear: both;
    cursor: default;
    display: block;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 2px 0 8px;
    padding-left: 0;
    text-align: left;
    width: 100%;

    li {
      overflow: hidden;
    }

    .tracker-activity {
      color: #666;
      display: table;
      float: left;
      margin-top: 1px;
      width: 200px;
    }

    .tracker-activity div {
      padding: 2px;
    }

    table {
      color: #666;
      float: right;
    }

    th {
      text-align: right;
    }
  }

  li.inspector-tracker-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.odd {
      background-color: #eee;
    }
  }

  div.tracker-host {
    color: #222;
    font-size: 1.2em;
    font-weight: bold;
  }

  /* Files Inspector Tab */
  #inspector-file-list {
    cursor: default;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
  }

  #inspector-file-list {
    border-top: 1px solid #888;
    clear: both;
    cursor: default;
    display: block;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 6px 0 0;
    padding-bottom: 10px;
    padding-top: 6px;
    text-align: left;
    width: 100%;
  }

  li.inspector-torrent-file-list-entry {
    display: block;
    padding: 3px 0 3px 2px;

    &.skip {
      color: #666;
    }

    &.even {
      background-color: #f7f7f7;
    }
  }

  div.inspector-torrent-file-list-entry-name {
    color: #000;
    display: inline;
    font-size: 1.2em;
    margin-left: 0;
  }

  li.inspector-torrent-file-list-entry.skip > .inspector-torrent-file-list-entry-name {
    color: #999;
  }

  div.inspector-torrent-file-list-entry-progress {
    color: #999;
    margin-left: 20px;
  }

  ul.single-file li.inspector-torrent-file-list-entry > .file-wanted-control,
  li.inspector-torrent-file-list-entry.complete > .file-wanted-control {
    cursor: default;
  }
}

/* Peers Inspector Tab */
#inspector-peers-list {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;

  > div.inspector-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

table.peer-list {
  border-collapse: collapse;
  clear: both;
  cursor: default;
  table-layout: fixed;
  text-align: left;
  width: 100%;

  .encrypted-col {
    width: 16px;
  }

  .up-col {
    width: 70px;
  }

  .down-col {
    width: 70px;
  }

  .percent-col {
    padding-right: 5px;
    text-align: right;
    width: 30px;
  }

  .status-col {
    padding-right: 5px;
    width: 40px;
  }

  .address-col {
    width: 180px;
  }

  .client-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

tr.inspector-peer-entry {
  div.encrypted-peer-cell {
    background: transparent url('images/lock_icon.png') no-repeat;
    height: 16px;
    width: 16px;
  }

  &.odd {
    background-color: #eee;
  }
}

/***
****  File Priority Buttons
***/

div.file-priority-radiobox {
  $border-radius: 5px;

  // We have row after row of these buttons, so the flashy colors used in the inspector tabs look harsh here.
  // Keep the same basic color theme, but look less harsh, by cutting the gradient's color range.
  $idle-color-top: mix($nonselected-gradient-top, $nonselected-gradient-bottom, 80%);
  $idle-color-bottom: mix($nonselected-gradient-top, $nonselected-gradient-bottom, 20%);
  $active-color-top: mix($selected-gradient-top, $selected-gradient-bottom, 80%);
  $active-color-bottom: mix($selected-gradient-top, $selected-gradient-bottom, 20%);

  display: inline;
  float: right;
  margin: 4px;
  margin-top: 2px;

  > * {
    @include button;
    height: 12px;
    width: 20px;
  }

  > div.low {
    @include leftRoundedBox($border-radius);
    @include buttonImage(
      'images/file-priority-low.png',
      $idle-color-top,
      $idle-color-bottom,
      $active-color-top,
      $active-color-bottom
    );
    border-right-width: 0;
  }

  > div.normal {
    @include buttonImage(
      'images/file-priority-normal.png',
      $idle-color-top,
      $idle-color-bottom,
      $active-color-top,
      $active-color-bottom
    );
  }

  > div.high {
    @include rightRoundedBox($border-radius);
    @include buttonImage(
      'images/file-priority-high.png',
      $idle-color-top,
      $idle-color-bottom,
      $active-color-top,
      $active-color-bottom
    );
    border-left-width: 0;
  }
}

/****
*****
*****  MAIN WINDOW FOOTER
*****
****/

div.torrent-footer {
  $idle-color-top: $nonselected-gradient-top;
  $idle-color-bottom: $nonselected-gradient-bottom;
  $active-color-top: $selected-gradient-top;
  $active-color-bottom: $selected-gradient-bottom;

  @include verticalGradient($statusbar-gradient-top, $statusbar-gradient-bottom);
  border-top: 1px solid #555;
  height: 22px;
  position: relative;
  width: 100%;
  z-index: 3;

  > div {
    border: 1px solid #888;
    float: left;
    float: left;
    height: 12px;
    margin: 2px 4px;
    padding: 2px 8px;
    position: relative;
    user-select: none;
    user-select: none;
    width: 18px;
  }

  #settings-menu {
    display: none;
  }

  #prefs-button {
    @include roundedBox(5px);
    @include buttonImage(
      'images/wrench.png',
      $idle-color-top,
      $idle-color-bottom,
      $active-color-top,
      $active-color-bottom
    );
  }

  #turtle-button {
    @include roundedBox(5px);
    @include buttonImage(
      'images/turtle.png',
      $idle-color-top,
      $idle-color-bottom,
      $active-color-top,
      $active-color-bottom
    );

    &:active,
    &.selected {
      @include imageOnVerticalGradient(
        'images/blue-turtle.png',
        $active-color-top,
        $active-color-bottom
      );
    }
  }

  #compact-button {
    @include roundedBox(5px);
    @include buttonImage(
      'images/compact.png',
      $idle-color-top,
      $idle-color-bottom,
      $active-color-top,
      $active-color-bottom
    );
  }
}

/****
*****
*****  DIALOGS
*****
****/

div#dialog-message.dialog-message {
  font-size: 13px;
  line-height: 14px;
  margin: 10px auto 25px;
  overflow: hidden;
  padding-bottom: 0;
  width: 280px;
  word-wrap: break-word;
}

div#upload-container div.dialog-window div.dialog-message {
  label {
    display: block;
    margin-top: 15px;
  }

  input {
    display: block;
    margin: 3px auto;
  }

  input[type='checkbox'] {
    display: inline;
    margin: 15px 3px 0 0;
    width: auto;
  }

  #auto-start-label {
    display: inline;
  }
}

h2.dialog-heading {
  font-size: 17px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

div.dialog-container a {
  background: #222;
  border: 2px solid #fff;
  border-radius: 16px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 5px 0;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

#dialog-container div.dialog-window img {
  margin: 5px auto 12px;
}

.landscape {
  div.dialog-container {
    a#dialog-cancel-button {
      left: 155px;
    }

    a#dialog-confirm-button {
      right: 110px;
    }

    img {
      float: left !important;
      margin: 0 0 0 50px;
    }
  }

  h2#dialog-heading.dialog-heading {
    margin: 5px auto 0;
    margin-left: 150px;
    text-align: left;
  }

  div#dialog-message.dialog-message {
    margin: 10px 0 20px 150px;
    text-align: left;
    width: 300px;
  }
}

.ui-menu-item {
  text-align: left;
  white-space: nowrap;
}

#torrent-context-menu {
  font-size: 1em;
  z-index: 3;
}

iframe#torrent-upload-frame {
  border: none;
  display: block; /* Don't change this : safari forms won't target hidden frames (they open a new window) */
  height: 0;
  left: -1000px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1000px;
  width: 0;
}
