@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
// @mixin for-tablet-landscape-up {media (min-width: 900px) { @content; }}
// @mixin for-desktop-up {@media (min-width: 1200px) { @content; }}
// @mixin for-big-desktop-up {@media (min-width: 1800px) { @content; }}

@mixin image-on-vertical-gradient($src, $topColor, $bottomColor) {
  background-image: url($src), linear-gradient($topColor, $bottomColor);
}

@mixin button {
  border: 1px solid var(--color-border);
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  user-select: none;
}

@mixin rounded-box($radius) {
  border-radius: $radius;
}

@mixin rounded-button($radius) {
  @include button;

  border-radius: $radius;
}
