[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=$USER
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error $OPTIONS
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
