.tr-workarea {
    border: none;
}

actionbar button {
    padding: 2px;
}

revealer toolbar {
    border-bottom: 1px outset @borders;
    padding-left: 7px;
    padding-right: 7px;
}

revealer button {
    outline: none;
}