---
BasedOnStyle: InheritParentConfig

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^[<"]tr/app/'
    Priority: 3
  - Regex: '^[<"]tr/torrent/transmission.h[">]'
    Priority: 4
    SortPriority: 3
  - Regex: '^[<"]tr/torrent/'
    Priority: 4
    SortPriority: 4
  - Regex: '^[<"]tr/base/'
    Priority: 5
  - Regex: '^<(cairo|gdk|gio|glib|gtk|pango)mm([-./]|config)'
    Priority: 6
  - Regex: '^<(fmt|small)/'
    Priority: 7
  - Regex: '^<[a-z_]+>'
    Priority: 8
  - Regex: '^<(cairo|gdk|gio|glib|gtk|pango)[-./]'
    Priority: 9
  - Regex: '^<(libappindicator|libayatana-appindicator)/'
    Priority: 10
  - Regex: '^<(winsock2|ws2tcpip)\.h>'
    Priority: 11
  - Regex: '^<(arpa|sys)/'
    Priority: 12
  - Regex: '.*'
    Priority: 2
SortIncludes: CaseInsensitive
