[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Transmission BitTorrent Client
Type=Application
Comment=A free, lightweight BitTorrent client with a simple, intuitive interface
Comment[bg]=Свободен, лек BitTorrent клиент с прост, интуитивен интерфейс
Comment[es]=Un cliente libre, ligero de BitTorrent con una interfaz simple e intuitiva
Comment[fi]=Ilmainen, kevytkäyttöinen BitTorrent ohjelma jossa on helppokäyttöinen käyttöliittymä
Comment[fr]=Un client BitTorrent léger, libre, avec une interface simple et intuitive
Comment[it]=Un client BitTorrent libero e leggero con un'interfaccia semplice ed intuitiva
Comment[pl]=Darmowy, lekki klient BitTorrent z prostym, intuicyjnym interfejscem
Comment[ro]=Un client BitTorrent liber, neîncărcat, cu o interfaţă simplă şi intuitivă
Comment[ru]=Свободный, легковесный BitTorrent клиент с простым, интуитивным интерфейсом
Comment[sv]=En fri, lättviktig BitTorrent-klient med ett enkelt och intuitivt gränssnitt
Exec=transmission-gtk %F
TryExec=transmission-gtk
Icon=transmission.png
MimeType=application/x-bittorrent;
Categories=Network;FileTransfer;P2P;GTK;
