---
# Many of these checks are disabled only because the code hasn't been
# cleaned up yet. Pull requests welcomed.
Checks: >
  modernize-loop-convert,
  modernize-pass-by-value,
  modernize-use-default-member-init,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using

