---
# PRs welcome to fix & re-enable any of these explicitly-disabled checks
Checks: >
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-incorrect-roundings,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-signed-char-misuse,
  -bugprone-sizeof-expression,
  -bugprone-suspicious-include,
  cert-*,
  -cert-dcl37-c,
  -cert-dcl50-cpp,
  -cert-dcl51-cpp,
  -cert-err33-c,
  -cert-err34-c,
  -cert-err58-cpp,
  -cert-str34-c,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-security.*,
  clang-analyzer-valist.*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-slicing,
  cppcoreguidelines-virtual-class-destructor,
  misc-*,
  -misc-misplaced-const,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-raw-string-literal,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-static-accessed-through-instance,
