---
# Many of these checks are disabled only because the code hasn't been
# cleaned up yet. Pull requests welcomed.
Checks: "
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-narrowing-conversions,
  cert-*,
  -cert-dcl03-c,
  -cert-err58-cpp,
  clang-analyzer-optin*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-special-member-functions,
  google-readability-*,
  google-runtime-operator,
  hicpp-*,
  -hicpp-avoid-c-arrays,
  -hicpp-explicit-conversions,
  -hicpp-member-init,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-static-assert,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-static-assert,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-use-trailing-return-type, # keep
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-redundant-access-specifiers,
  -readability-simplify-boolean-expr,
  -readability-static-accessed-through-instance"
WarningsAsErrors: "*"
...

