[Desktop Entry]
Name=Transmission (Qt)
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=torrents;downloading;uploading;share;sharing;
Exec=transmission-qt %U
Icon=transmission
Terminal=false
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;Qt;
X-AppInstall-Keywords=torrent
Actions=Minimize;

[Desktop Action Minimize]
Name=Start Transmission Minimized
Exec=transmission-qt --minimized

