[Desktop Entry]
Name=Qtransmission Bittorrent Client
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Exec=transmission-qt %U
Icon=transmission
Terminal=false
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;Qt;
X-AppInstall-Keywords=torrent
Actions=Minimize;

[Desktop Action Minimize]
Name=Start Transmission Minimized
Exec=transmission-qt --minimized

